<strong> Map Editing Tools </strong>
<div>  
Double click to finish drawing the line or a shape.
Press shift and single click to delete existing vertex.
</div>
  <form class="form-inline">
    <label>Geometry type &nbsp;</label>
      <select id="type">
        <option value="Point">Point</option>
        <option value="LineString">LineString</option>
        <option value="Polygon">Polygon</option>
      </select>
  </form>