<form class="bbf-form" id="feature-properties-form">
<div class="feature-properties" id="feature-properties">
	<table style="width:100%">
	  <tr>
	    <th><label>Name</label></th>
	    <td><input name="name" type="text" value="{{name}}"/></td>
	  </tr>
  	  <tr>
	    <th><label>Description</label></th>
	    <td><input name="description" type="text" value="{{description}}"/></td>
	  </tr>
	  <tr>
	    <th><label>Style</label></th>
	  </tr>
	</table>
</div>
</form>
