<div class="row">
   <div class="pill">
       <button  id="btn-cut" class="pill-left small">Cut</button>
       <button  id="btn-copy" class="small">Copy</button>
       <button  id="btn-paste" class="small">Paste</button>
       <button  id="btn-delete" class="pill-right small">Delete</button>
    </div>
</div>