<strong>Features</strong>
<div class="row">
   <div class="pill">
       <button  id="btn-duplicate" class="pill-left small">Duplicate</button>
       <button  id="btn-delete" class="pill-right small">Delete</button>
    </div>
</div>