<form class="bbf-form" id="feature-polygon-properties-form">
<div class="feature-properties" id="feature-polygon-properties">
	<table style="width:100%">
	  <tr>
	    <th><label>Name</label></th>
	    <td><input name="name" type="text" value="{{name}}"/></td>
	  </tr>
  	  <tr>
	    <th><label>Description</label></th>
	    <td><input name="description" type="text" value="{{description}}"/></td>
	  </tr>
	</table>
</div>
</form>
<ul class="sequence-list">
	<li class="feature-style head-sequence-item">Style<i/></li>
	<li class="feature-coordinates foot-sequence-item">Coordinates<i/></li> 
</ul>