
<section class="tabs border">
<ul id="tab-nav" class="tab-nav">
    <li data-target="info"><a id="tab-nav-link" href="#">Info</a></li>
    <li data-target="features"><a id="tab-nav-link" href="#">Features</a></li>
    <li class="active" data-target="layers"><a id="tab-nav-link" href="#">Layers</a></li>
</ul>

<div id="tab-content" class="tab-content active" >
</div>
</section>

