    <div id="map-buttons" data-toggle="buttons-radio" class="three columns">
        <div class="pill">
            <button class="pill-left radio checked" id="btn-navigate">Navigate</button>
            <button class="radio" id="btn-reposition" style="width:120px;">Edit Features</button>
            <button class="radio pill-right" style="width:120px;" id="btn-addFeatures">Add Features</button>
        </div>
    </div>
    
    <div id="tab-buttons" class="nine columns">
    	<div class="row">
			<div class="pill ten columns" >
			<span style="float: left" class="small" id="tip-status"></span>
	        </div>
	        <div class="pill two columns" >
	        <span class="notify" id="save-status"></span>
	        <!--
	            <button  id="btn-undo" class="pill-left">Undo</button>
	            <button  id="btn-redo" >Redo</button>
	            <button  id="btn-saveas" >Save As</button>
	            <button  id="btn-save" class="pill-right">Save</button>
	            	        -->
	        </div> 
	     </div>
    </div>

