{% extends "dashboard_base.html" %}

{% load pipeline %}
{% load static %}
{% load siteFrames %}
{% load jsonify %}
{% load xgds_data_extras %}

{% block sitemenu-content-secondary %}
{% include "xgds_planner2/planner2_subnav.html" %}
{% endblock %}

{% block cssExtras %}
{{ block.super }}
    {% if 'xgds_notes2' in settings.INSTALLED_APPS %}
        {% include "xgds_notes2/NoteCSS.html" %}
    {% endif %}
    {% if 'xgds_video' in settings.INSTALLED_APPS %}
        <link rel="stylesheet" type="text/css" href="{% static 'xgds_video/css/xgds_video_safe.css' %}"></link>
    {% endif %}

{% endblock cssExtras %}

{% block siteSection %}{{ group_flight.name }}{% endblock %}


{% block post_layers %}
    <div id="details_modal" class="modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detail View</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body mt-0 pt-0">
                    <div id="details_modal_body"></div>
                    <div id="notesDiv">
			        </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock post_layers %}

{% block buttonrowLeft %}
    <h4>{{ group_flight.name }}</h4>
{% endblock buttonrowLeft %}

{% block buttonrowRight %}
    {% if 'xgds_notes2' in settings.INSTALLED_APPS %}
        {% include 'xgds_notes2/notes_input_include_full.html' %}
    {% endif %}
    {% if 'xgds_video' in settings.INSTALLED_APPS %}
        {%  if live %}
        <button id="group_flight_video" class='btn btn-primary my-1' role='button' style="color:white; max-height:1.8rem; margin-left: 2px;" onclick="window.open('{% url 'map_replay_group_flight' group_flight.name %}')">Video</button>
        {% endif %}
    {% endif %}
{% endblock buttonrowRight %}

{% block preDashboard %}
    <div id="controllers" >
    	{% include "xgds_core/playback_controller.html" %}
    </div>
    <div id="plot-container" class="plot-container" style="margin-top:-10px;">
	</div>
    <div id="plot-data-values-container" class="row" style="margin-top:-10px;">
	</div>
{% endblock preDashboard %}

    {% block preMap %}
        <!-- premap -->
        {% block videodivs %}
            <!-- videodivs -->

        {% if segmentsJson %}
                {% block videoSources %}
                {% for source in sources %}
                <div id="source{{forloop.counter}}-gridstack-item" class="grid-stack-item"
                    data-gs-x="{% if forloop.counter|modulo:2 == 0 %}0{% else %}1{% endif %}" data-gs-y="{% if forloop.counter == 0 %}0{% else %}3{% endif %}"
                    data-gs-width="{% if forloop.last %}3{% else %}2{%endif %}" data-gs-height="2" >
                    <div class="grid-stack-item-content video-div" id="item{{forloop.counter}}" style="background-color:{{ source.displayColor }};">
                        <div class="d-flex justify-content-between video-head">
                             <div class="nav justify-content-lg-start">
                                 <b>{{ source.name }}&nbsp;&nbsp;</b>
                                 <i class="audioIcon fa fa-volume-off fa-lg"></i><div id="audio_{{ source.shortName }}" class="audioSlider"></div><i class="audioIcon fa fa-volume-up fa-lg"></i>
                             </div>
                            <div class="nav justify-content-end">
                             <a class="btn btn-primary small frame-grab-button" href="#" onclick="xgds_video.handleFrameGrab('{{ episode.shortName }}', '{{ source.shortName }}')">Frame Grab</a>
                             <a class="btn btn-primary small" href="{% url 'xgds_video_recorded' flightName source.shortName %}" target="{% if sources|length > 1 %}{{flightName}}_{{source.shortName}}{% else %}_blank{% endif %}" style="width:130px">New Window</a>
                             {% with feed=source.feed_set.all.0.shortName %}
                             {% if feed %}
                                 <a class="btn btn-primary" id=toprow href="{% url 'xgds_video_live' feed %}">Live</a>
                             {% endif %}
                             {% endwith %}
                                <i class="fa fa-lock pinDiv gray-light mr-1"></i>
                                <i class="fa fa-window-close gray-light fa-lg"></i>
                            </div>
                        </div>
                        <!--embed the video-->
                        <section>
                            <div id="player_container" class="nav justify-content-center"> <!-- float-left">  -->
                                <div id="{{ source.shortName }}" ></div>
                            </div> <!--  player-container -->
                            <div id="{{ source.shortName }}Label" > </div>
                        </section>
                        {% if not isLive %}
                        <section>
                            <div >
                            Local Time: <span id="testSiteTime{{ source.shortName }}">0</span>
                            </div>
                        </section>
                        {% endif %}
                    </div><!--  item -->
                 </div><!--  gridstack item -->
                {% endfor %}
                {% endblock videoSources %}
            {% else %}
            <!-- NO SEGMENTS JSON? -->
        {% endif %}
        {% endblock videodivs %}
    {% endblock preMap %}

{% block mapdiv %}
		<div id="map-gridstack-item" class="grid-stack-item"
    data-gs-x="0" data-gs-y="0"
    data-gs-width="1" data-gs-height="{% if 'xgds_video' in settings.INSTALLED_APPS and segmentsJson %}2{% else %}3{% endif %}" >
{% endblock mapdiv %}

{% block postMap %}
    {% block tabsdiv %}
    <div id="tabs-gridstack-item" class="grid-stack-item"  data-gs-x="4" data-gs-y="0" data-gs-width="{% if 'xgds_video' in settings.INSTALLED_APPS and segmentsJson %}3{% else %}5{% endif %}" data-gs-height="4" >
    {% endblock tabsdiv %}
    		<div id="tabs-gridstack-item-content" class="grid-stack-item-content" >
			<ul class="nav justify-content-end">
				<i class="fa fa-lock pinDiv gray-light"></i>
			</ul>
	        <div id="tabs" class="mt-negative-1rem"></div>
	    </div>
{% endblock postMap %}

{% block scripts %}
{{block.super}}
    <script type="text/javascript" src="{{ EXTERNAL_URL }}flot/jquery.flot.js" ></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}flot/jquery.flot.time.js" ></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}flot/jquery.flot.resize.js" ></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}timezone-js/src/date.js" ></script>

{% if 'xgds_notes2' in settings.INSTALLED_APPS %}
	{% include "xgds_notes2/NoteJS.html" %}
    <script type="text/javascript" src="{% static 'xgds_notes2/js/note_create_form.js' %}"></script>
{% else %}
    {% include "xgds_core/timeJS.html" %}
    <script type="text/javascript" src="{{ EXTERNAL_URL }}datatables.net-plugins/sorting/datetime-moment.js"></script>
{% endif %}

    {% if 'xgds_video' in settings.INSTALLED_APPS and segmentsJson%}
        {% include "xgds_video/VideoJS.html" %}
        <script type="text/javascript" src="{% static 'xgds_video/js/videoPlaybackListener.js' %}"></script>

        {% block videoscripts %}
	    {% endblock videoscripts %}
    {% endif %}

    <script type="text/javascript">
   		DEFAULT_PLOT_TIME_FORMAT = '%H:%M';
   	</script>
    <script type="text/javascript" src="{% static 'xgds_timeseries/js/timeseriesUtils.js' %}"></script>
    <script type="text/javascript" src="{% static 'geocamTrack/js/trackBackbone.js' %}"></script>
    <script type="text/javascript" src="{% static 'xgds_map_server/js/replay/mapReplayModels.js' %}"></script>
    <script type="text/javascript" src="{% static 'xgds_map_server/js/replay/replayPlots.js' %}"></script>
    <script type="text/javascript" src="{% static 'xgds_map_server/js/replay/conditionPlots.js' %}"></script>
    <script type="text/javascript" src="{% static 'xgds_map_server/js/replay/replayLinksViews.js' %}"></script>
    <script type="text/javascript" src="{% static 'xgds_map_server/js/replay/replayDataPlotsViews.js' %}"></script>
    <script type="text/javascript" src="{% static 'xgds_map_server/js/replay/mapReplayViews.js' %}"></script>


    <script type="x-template/underscore" id="timeseries_plot_contents">
        <div id="plotTitle" class="row mt-2"></div>
        <div id="plotDiv" class="plot-div" style="width:100%;height:110px;"></div>
        <div id="plotLegend" class="row ml-2 mb-2"></div>
        <div id="timeseries_message"></div>
    </script>

    <script type="x-template/underscore" id="plot_contents">
        <div id="plotDiv" class="plot-div" style="width:100%;height:95px;"></div>
        <div id="plotLegend" class="row ml-2 mb-2"></div>
    </script>

	{% for template_name, template in templates.items %}
	<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
	</script>
    {% endfor %}

    {% include "xgds_map_server/SearchForms.html" with searchForms=searchForms %}

{% endblock scripts %}


{% block preMapJS %}
    {% include "xgds_core/playbackJS.html" %}

    <script type="text/javascript">
	var siteFrames = {% siteframes_dict %};

	getTimeZone = function() {
	    if ("{{ group_flight.timezone }}" === "Etc/UTC") {
	        return "utc";
        }
	    return "{{ group_flight.timezone }}";
    }

    var conditions = [];
    {% for c in group_flight.conditions %}
        conditions.push({{ c.toJson|safe }});
    {% endfor %}

    var group_flight_links = {};
    {% for u in group_flight.links.all %}
        group_flight_links['{{ u.name }}'] ='{{ u.url }}';
    {% endfor %}
    //premapjs
    var appOptions = {
        	BODY_RADIUS_METERS: {{ settings.XGDS_MAP_SERVER_BODY_RADIUS_METERS }},
        	DEFAULT_COORD_SYSTEM: '{{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM }}',
        	SETUP_COORD_SYSTEM: {{ settings.XGDS_MAP_SERVER_MAP_SETUP_COORD_SYSTEM }},
            DEFAULT_COORD_SYSTEM_CENTER: {{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM_CENTER }},
    		DEFAULT_ZOOM: {{ settings.XGDS_MAP_SERVER_DEFAULT_ZOOM }},
    		DEFAULT_ROTATION: {{ settings.XGDS_MAP_SERVER_DEFAULT_ROTATION }},
    		SHOW_COMPASS: {{ settings.XGDS_MAP_SERVER_SHOW_COMPASS}},
    		offline: {{ settings.XGDS_PLANNER_OFFLINE|yesno:'true,false'}},
       	    selectedLayerUrl: '{{ settings.XGDS_MAP_SERVER_SELECTED_LAYER_URL }}',
            layerFeedUrl: '{{ settings.XGDS_PLANNER_LAYER_FEED_URL }}',
            dataUrl: '{{ settings.DATA_URL }}',
            simulator: '{{ simulator }}',
            siteFrame: {% siteframe settings.XGDS_CURRENT_SITEFRAME_ID %},
            XGDS_MAP_SERVER_MAP_LOADED_CALLBACK: '{{ settings.XGDS_MAP_SERVER_MAP_LOADED_CALLBACK }}',
            searchModels: {{ settings.XGDS_MAP_SERVER_JS_MAP|safe }},
            searchModelsKeys: {{ settings.XGDS_MAP_SERVER_SEARCH_MODELS|safe }},
            settingsLive: {{ settings.GEOCAM_UTIL_LIVE_MODE|yesno:'true,false' }},
            live: {{ live|yesno:'true,false' }},
            track_urls: [],
            flight_ids: [],
            timeseries_config: [],
            group_flight: {{ group_flight.toJson|safe }},
            group_flight_links: group_flight_links,
            end_time: moment('{{ end_time }}'),
            conditions: conditions,
            search_seconds_before: {{ settings.XGDS_MAP_SERVER_SEARCH_SECONDS_BEFORE }},
            search_seconds_after: {{ settings.XGDS_MAP_SERVER_SEARCH_SECONDS_AFTER }},
            searchOptions: { fitMap: false, today: false, time_control_search: true }
            // hide_track: true // this is not yet implemented
     };


        {% if extras %}
            var extras = {{ extras|safe }};
            for (var key in extras) {
            	appOptions[key] = extras[key];
            }
        {% endif %}

        appOptions['fake_end'] = appOptions.group_flight.end_time != appOptions.end_time;
        appOptions['max_end_time'] = appOptions.end_time;

    {% block postAppOptions %}
    {% endblock postAppOptions %}

    </script>
{% endblock preMapJS %}


{% block jsInit %}

	{% block jsInitPreApp %}
        moment.tz.setDefault(getTimeZone());

        // flot currently depends on timezoneJS.
        timezoneJS.timezone.zoneFileBasePath = "{% static 'tz' %}";
		timezoneJS.timezone.defaultZoneFile = [];
		timezoneJS.timezone.init({async: false});

        appOptions.track_urls = [];
        appOptions.track_metadata = [];
        {% for flight in group_flight.flights %}
            {% if flight.track %}
                appOptions.track_urls.push("{% url 'geocamTrack_mapJsonTrack_downsample' flight.track.uuid %}");
                appOptions.track_metadata.push({{flight.track.get_tree_json|jsonify }});
            {% endif %}
            appOptions.flight_ids.push({{ flight.id }});
        {% endfor %}

	{% endblock jsInitPreApp %}

    // get the timeseries configs to know what timeseries data to load on the data plots tab
    _.each(appOptions.flight_ids, function(flight_id) {
            var jsonData = {'flight_ids':[flight_id]};
            $.ajax({
                url : '/timeseries/classes/metadata/json',
                type: "POST",
                data: jsonData,
                async: false,  // we need to get this before starting the app
                dataType: "json",
                success: function(data) {
                    _.each(data, function(d) {
                        d.flight_ids = [flight_id];
                        appOptions.timeseries_config.push(d);
                    });
                }
            });
    });

	$(function(){

        {% if 'xgds_video' in settings.INSTALLED_APPS and segmentsJson%}
                var time_control_path = '/static/xgds_video/js/playbackTimeControl.js';
                app.vent.on('seekTime', function(timeString) {
                    xgds_video.seekHelper(timeString);
                });

                var group_flight_start = new moment('{{ episode.startTime.isoformat }}');
{#                    {% if episode.endTime %}#}
{#                        var group_flight_end = new moment('{{ episode.endTime.isoformat }}');#}
{#                    {% endif %}#}
{##}


            {% else %}
                var time_control_path = '/static/xgds_core/js/playbackTimeControl.js';
                var group_flight_start = new moment(appOptions.group_flight.start_time);
            {%  endif %}
		app.start(appOptions);

        playback.initialize({getStartTime: function(){return group_flight_start;},
                         getEndTime: function(){return app.get_end_time();},
                         displayTZ: getTimeZone(),
                         slider: true,
                         time_control_path: time_control_path,
                         useTimerWorker: !appOptions.live
                        });

        app.hook_playback();

        app.vent.on('searchDiv:visible', function(){
		 	if (!searchDiv_initialized){
		        addDateTimePickers();
		        searchDiv_initialized = true;
		 	}
		 });

        app.vent.on('selectData', function(data) {
                if ('timestamp' in data) {
                    playback.setCurrentTime(data.timestamp);
                    {% if 'xgds_video' in settings.INSTALLED_APPS and segmentsJson%}
                        xgds_video.jumpToPosition(data.timestamp);
                    {% endif %}
                }
        });


        {% block preLayout %}
		{% endblock preLayout %}

    	{% block initGridstack %}
    		xgds_gridstack.initializeGridstack();
    		{% endblock initGridstack %}

            {% block sse %}
    		{% if settings.XGDS_SSE and settings.GEOCAM_UTIL_LIVE_MODE%}
                if (appOptions.live) {
                    trackSse.initialize();
                    // this relies on notes, but we generally always include notes
                    //TODO Khaled fix
                    //notesSse.initialize();
                    //notesSse.olInitialize();
                }
    		{% endif %}
            {% endblock sse %}

        // right here the map is the right height and when we exit this method it is not.

        {% block otherJSInit %}
        server_time_url = "{% url 'server_time' %}";
        serverTimezone = "{{TIME_ZONE}}";
            {% block start_end %}
        group_flight_start = {% if group_flight.start_time %}new moment('{{ group_flight.start_time.isoformat }}'){% else %}null{% endif %};
                //{{ end_time }}
        group_flight_end = {% if end_time %}new moment('{{ end_time }}'){% else %}null{% endif %};
            {%  endblock start_end %}

            {% block initializeNotes %}
            var container = $("#full_notes_input");
            xgds_notes.setupNotesUI(container);
            xgds_notes.initializeNotesForm(false);


            {% endblock initializeNotes %}

            {% block eventTimeFunction %}
            xgds_notes.getEventTime = function(context) {
                var parent = $(context).closest('.notes_input_container');
                var event_hidden = parent.find('#id_event_time');
                var dataString = "";

                if (event_hidden.length == 0){
                    event_hidden = $("#id_event_time");
                }
                var event_timestring = event_hidden.val();

                try {
                    if (event_timestring !== undefined && event_timestring !== ""){
                        if (!event_hidden.is(':visible')){ // in a form
                            dataString = dataString + '&event_time=' + event_timestring;
                            try {
                                var timezone_hidden = parent.find('#id_event_timezone');
                                dataString = dataString + "&event_timezone=" + timezone_hidden.val();
                            } catch(err){
                                // no timezone
                            }
                        } else {
                            var tzified = getUTCTime(event_timestring.substring(0, event_timestring.length-4), serverTimezone);
                            var theUtc = tzified.utc().format('YYYY/MM/DD HH:mm:ss') + ' UTC';
                            dataString = dataString + '&event_time=' + theUtc;
                            try {
                                dataString = dataString + "&event_timezone=" + serverTimezone;
                            } catch(err){
                                // no timezone
                            }
                        }
                    } else {
                        if (event_hidden.is(':visible')){
                            dataString = dataString + "&serverNow=true";
                        }
                    }
                }
                catch(err) {
                    dataString = dataString + "&serverNow=true";
                }
                return dataString;

            };
            xgds_notes.postSubmit = function(data) {
               xgds_notes.clear_event_time();
            };
            {% endblock eventTimeFunction %}

            xgds_notes.updateRole = function(stuff) {
	var theForm = $("#edit_user_session_form");
	var content = theForm.find("#id_location option:selected").text();
	if (content == '---------'){
		theForm.find("#id_location option[value='{{request.session.notes_user_session.location}}']").attr('selected', 'selected');
		theForm.find("#id_vehicle option[value='{{request.session.notes_user_session.vehicle}}']").attr('selected', 'selected');
		theForm.find("#id_role option[value='{{request.session.notes_user_session.role}}']").attr('selected', 'selected');
		var content = theForm.find("#id_location option:selected").text();
	}
	content += ', ' + theForm.find("#id_vehicle option:selected").text();
	content += ', ' + theForm.find("#id_role option:selected").text();
	$("#roleLocationVehicle").text(content);
	if (content.indexOf('--') == -1){
		user_session_exists = true;
	}
}

    xgds_notes.set_event_time = function() {
        app.timePlaybackListener.doSetTime(playback.getCurrentTime());
	};
    xgds_notes.postSubmit = function(data) {
        app.timePlaybackListener.doSetTime(playback.getCurrentTime());

	};


$("#changeRole").click(function(e){
	xgds_notes.editUserSession('xgds_notes.updateRole');
});

            xgds_notes.updateRole();
            var input_initialized = false;
 		    var formNote = $("#form-Note");
 		    var input = formNote.find('.taginput');
            xgds_notes.initializeInput(input);
            var role = formNote.find("#id_role");
            role.val(role.find("option:first").val());
            var location = formNote.find("#id_location");
            location.val(location.find("option:first").val());
            input_initialized = true;

            {% if 'xgds_video' in settings.INSTALLED_APPS and segmentsJson%}
                {% block setupIndexUrl %}

var indexFileUrl = null;

{% if episode %}
    indexFileUrl = "/xgds_video/videoIndexFile/flightName/sourceShortName/segmentIndex/";
{% endif %}
{% endblock setupIndexUrl %}

{% block initSegments %}
{% if segmentsJson %}
	{% block xgds_video_options %}
    xgds_video_options = { playFlag: false,
                       		   seekFlag: false,
		                       initialState: false,
		                       seekOffsetList: {},
		                       episode: {{ episodeJson|safe }},
		                       displaySegments: {{ segmentsJson|safe }},
		                       firstSegment: null,
		                       lastSegment: null,
		                       onTimePlayer: "{{ sources.0.shortName }}",
		                       movingSlider: false, //if slider is moving, turn off onTime call
		                       seekOffsetList: {}, //needed for seeking vid in flash mode,
		                       indexFileUrl: indexFileUrl,
			                   noteTimeStamp: '{{ noteTimeStamp|safe }}',
			                   flightName: {% if flightName %} "{{ flightName }}" {% else %} null {% endif %},
			                   sourceVehicle: {{ sourceVehicle|safe }},
			                   timeZone: '{{ flightTZ }}',
        					   hasMasterSlider:true
		                     };
	{% endblock xgds_video_options %}


    {% endif %}
    {% endblock initSegments %}

	{% block hookControls %}
        {% if segmentsJson %}
            xgds_video_instance = xgds_video.initialize(xgds_video_options);
            playback.min_speed = 0.25;
            playback.max_speed = 4.0;
            playback.addSpeedListener(xgds_video.speedCallBack)
            playback.addListener(xgds_video.playbackListener);
            playback.addStopListener(xgds_video.sliderStopListener);
            xgds_video.setupJWplayer({}, "95%");
        {% endif %}
    {% endblock hookControls %}
    {% endif %}

	{% endblock otherJSInit %}

    {% block postOtherJSInit %}
    {% endblock postOtherJSInit %}

	});

    {% endblock jsInit%}

{% block footer %}
{% endblock footer %}