{% load static %}
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery-ui/themes/base/jquery-ui.css" ></link>
<link rel="stylesheet" type="text/css" href="{% static 'geocamUtil/css/dashboard.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'geocamUtil/css/datatable.css' %}"></link>

<!--  map stuff -->
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}openlayers/dist/ol.css"></link>
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}ol3-popup/src/ol3-popup.css"></link>
<!--  end map stuff -->

<!--  map layers stuff -->
<link rel="stylesheet" type="text/css" href="{% static 'xgds_map_server/css/xgds_map_server.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jquery.fancytree/dist/skin-lion/ui.fancytree.min.css"></link>
<link rel="stylesheet" type="text/css" href="{% static 'xgds_map_server/css/fancytree_custom.css' %}"></link>
<!--  end map layers stuff -->
