{% extends 'dashboard_base.html' %}
{% load static %}

{% block sitemenu-content-secondary %}
	{% include "xgds_map_server/mapSearch_subnav.html" %}
{% endblock %}
{% block siteSection %}{{modelName}} Search{% endblock %}

{% load siteFrames %}

{% block cssExtras %}
{{ block.super }}
{% if 'xgds_notes2' in settings.INSTALLED_APPS %}
{% include "xgds_notes2/NoteCSS.html" %}
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css' %}" ></link>
<link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
{% endblock cssExtras %}

{% block preMapJS %}
<script type="text/javascript">
	var siteFrames = {% siteframes_dict %};
	var appOptions = {
		BODY_RADIUS_METERS: {{ settings.XGDS_MAP_SERVER_BODY_RADIUS_METERS }},
		DEFAULT_COORD_SYSTEM: "{{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM }}",
		SETUP_COORD_SYSTEM: {{ settings.XGDS_MAP_SERVER_MAP_SETUP_COORD_SYSTEM }},
		DEFAULT_COORD_SYSTEM_CENTER: {{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM_CENTER }},
		DEFAULT_ZOOM: {{ settings.XGDS_MAP_SERVER_DEFAULT_ZOOM }},
		DEFAULT_ROTATION: {{ settings.XGDS_MAP_SERVER_DEFAULT_ROTATION }},
		SHOW_COMPASS: {{ settings.XGDS_MAP_SERVER_SHOW_COMPASS}},
		selectedLayerUrl: "{{ settings.XGDS_MAP_SERVER_SELECTED_LAYER_URL }}",
		layerFeedUrl: "{{ settings.XGDS_MAP_SERVER_LAYER_FEED_URL }}",
		siteFrame: {% siteframe settings.XGDS_CURRENT_SITEFRAME_ID %},
		XGDS_MAP_SERVER_MAP_LOADED_CALLBACK: '{{ settings.XGDS_MAP_SERVER_MAP_LOADED_CALLBACK }}',
		dataUrl: "{{ settings.DATA_URL }}",
		searchModels: {{ searchModelDict|safe }},
		modelName: '{{modelName}}',
		tableHeight: Math.floor($(window).height()*.7) + 'px',
		{% block extraAppOptions %}
		{% endblock extraAppOptions %}
		settingsLive: {{ settings.GEOCAM_UTIL_LIVE_MODE|yesno:"true,false" }},
		showDetailView: true
	};
	</script>
{% endblock preMapJS %}

{% block scripts %}
	{{block.super}}
	
{% if 'xgds_notes2' in settings.INSTALLED_APPS %}
	{% block notejs %}
	{% include "xgds_notes2/NoteJS.html" with forceUserSession=forceUserSession%}
	{% endblock notejs %}
{% endif %}
	
	<script type="text/javascript" src="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
	<script type="text/javascript" src="{% static 'xgds_core/js/datetimepickerUtils.js'%}"></script>
	<script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
	<script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
	<script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
	<script type="text/javascript" src="/static/autocomplete_light/forward.js"></script>
	<script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>
    {% for template_name, template in templates.items %}
	<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
	</script>
    {% endfor %}
    {% include "xgds_map_server/SearchForms.html" with searchForms=searchForms %}
{% endblock scripts %}

{% block jsInit %}
	
	{% block jsInitPreApp %}
	{% endblock jsInitPreApp %}
	
	$(function(){
		app.vent.on("mapSearch:drewFeatures", function(e) {
        	app.vent.trigger('mapSearch:fit');
        });
        
        app.vent.on('onMapSetup', function() {
        	xgds_gridstack.initializeGridstack();
    		xgds_search.hookAdvancedSearchButton();
        });
        
        {% block preLayout %}
		{% endblock preLayout %}
		
    	
    	
    	var searchDiv_initialized = false;
		 app.vent.on('searchDiv:visible', function(){
		 	if (!searchDiv_initialized){
		        addDateTimePickers();
		        searchDiv_initialized = true;
		 	} 
		 });
		 
		 app.start(appOptions);
        
    	{% block otherJSInit %}
		{% endblock otherJSInit %}
		
	});
	
{% endblock jsInit %}

{% block preDashboard %}

<div id="buttonRow" class="d-flex justify-content-end mb-2" >
{% block buttonRow %}
<div>
	<button id="advanced_search_button" role="button" class="btn btn-primary">Advanced Search</button>
</div>
{% endblock buttonRow %}
</div>
{% endblock preDashboard %}

{% block preMap %}

{% block searchDiv %}
<div id="search-gridstack-item" class="grid-stack-item" 
		data-gs-x="0" data-gs-y="0"
        data-gs-width="3" data-gs-height="2" style="display: none;">
        <div class="grid-stack-item-content" id="search-gridstack-item-content" >
        	<ul class="nav justify-content-end ">
	        	<i class="fa fa-lock pinDiv gray-light mr-1"></i>
	    		<i class="fa fa-window-close gray-light fa-lg"></i>
	    	</ul>
			<div id="searchDiv" style="display:none;" class="mt-negative-1rem"></div>
		</div>
</div>
{% endblock searchDiv %}

{% block searchResultsDiv %}
<div id="search-results-gridstack-item" class="grid-stack-item" 
		data-gs-x="0" data-gs-y="0"
        data-gs-width="3" data-gs-height="3" >
        <div class="grid-stack-item-content" id="search-results-gridstack-item-content" >
        <ul class="nav justify-content-end">
			<i class="fa fa-refresh gray-light mr-1" title="Reload Latest" id="reloadSearchResults"></i>
        	<i class="fa fa-lock pinDiv gray-light mr-1"></i>
			<i class="fa fa-window-close gray-light fa-lg"></i>
		</ul>
		<div id="searchResultsDiv" class="mt-negative-1rem"></div>
		</div>
</div>
{% endblock searchResultsDiv %}


{% block viewDiv %}
<div id="view-gridstack-item" class="grid-stack-item" 
		data-gs-x="3" data-gs-y="0"
        data-gs-width="3" data-gs-height="3" >
        <div class="grid-stack-item-content" id="view-gridstack-item-content" >
        	<ul class="nav justify-content-end">
				<i class="fa fa-lock pinDiv gray-light mr-1"></i>
				<i class="fa fa-window-close gray-light fa-lg"></i>
			</ul>
			<div class="mt-negative-1rem">
				<a href="#" id="view-new-window-target" target="_blank" class="btn btn-primary"><i class="fa fa-window-restore fa-fw mr-1" aria-hidden="true"></i>New Window</a>
				<button class="info btn btn-primary prev-button" id="prev_button"><i class="fa fa-backward"></i></button>
				<strong id="nameBlock"></strong>
				<button class="info btn btn-primary next-button" id="next_button"><i class="fa fa-forward"></i></button>
			</div>
			<div id="viewDiv">
			</div>
			<div id="notesDiv">
			</div>
		</div>
</div> 
{% endblock viewDiv %}
{% endblock preMap %}

{% block map %}
<div id="map-gridstack-item" class="grid-stack-item" 
	  data-gs-x="3" data-gs-y="4"
      data-gs-width="2" data-gs-height="1" >
	<div class="grid-stack-item-content" id="map-gridstack-item-content" >
	<i class="fa fa-lock pinDiv gray-light"></i>
      		{% siteframe_form %}
		<div id="map"></div>
	</div>
</div>
{% endblock map %}

{% block layers %}
<div id="map-gridstack-item" class="grid-stack-item" 
	  data-gs-x="6" data-gs-y="4"
      data-gs-width="1" data-gs-height="1" >
	<div class="grid-stack-item-content" id="layers-gridstack-item-content">
	<ul class="nav justify-content-end ">
		<i class="fa fa-lock pinDiv gray-light mr-1"></i>
		<i class="fa fa-window-close fa-lg gray-light"></i>
	</ul>
	<div id="layers" class="mt-negative-1rem"></div>
	</div>
</div>
{% endblock layers %}

		

