{% extends 'dashboard_base.html' %}

{% load siteFrames %}
{% load multiply %}

{% block sitemenu-content-secondary %}
	{% include "xgds_map_server/mapSearch_subnav.html" %}
{% endblock %}

{% block cssExtras %}
{{ block.super }}
{% if 'xgds_notes2' in settings.INSTALLED_APPS %}
{% include "xgds_notes2/NoteCSS.html" %}
{% endif %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css" ></link>
{% endblock cssExtras %}

{% block scripts %}
{{block.super}}
{% if 'xgds_notes2' in settings.INSTALLED_APPS %}
	{% include "xgds_notes2/NoteJS.html" %}
{% endif %}
	<script type="text/javascript" src="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
	<script type="text/javascript" src='{{ STATIC_URL }}xgds_core/js/datetimepickerUtils.js'></script>
	{% for template_name, template in templates.items %}
	<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
	</script>
    {% endfor %}
{% endblock scripts %}


{% block jsInit %}
	var siteFrames = {% siteframes_dict %};
	appOptions = {
		BODY_RADIUS_METERS: {{ settings.XGDS_MAP_SERVER_BODY_RADIUS_METERS }},
		DEFAULT_COORD_SYSTEM: "{{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM }}",
		SETUP_COORD_SYSTEM: {{ settings.XGDS_MAP_SERVER_MAP_SETUP_COORD_SYSTEM }},
		DEFAULT_COORD_SYSTEM_CENTER: {{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM_CENTER }},
		DEFAULT_ZOOM: {{ settings.XGDS_MAP_SERVER_DEFAULT_ZOOM }},
		DEFAULT_ROTATION: {{ settings.XGDS_MAP_SERVER_DEFAULT_ROTATION }},
		SHOW_COMPASS: {{ settings.XGDS_MAP_SERVER_SHOW_COMPASS}},
		selectedLayerUrl: "{{ settings.XGDS_MAP_SERVER_SELECTED_LAYER_URL }}",
		layerFeedUrl: "{{ settings.XGDS_MAP_SERVER_LAYER_FEED_URL }}",
		siteFrame: {% siteframe settings.XGDS_CURRENT_SITEFRAME_ID %},
		XGDS_MAP_SERVER_MAP_LOADED_CALLBACK: {{ settings.XGDS_MAP_SERVER_MAP_LOADED_CALLBACK }},
		dataUrl: "{{ settings.DATA_URL }}",
		searchModels: {{ settings.XGDS_MAP_SERVER_JS_MAP|safe }},
		modelNames: {{model_names|safe}},
		modelUrls: {{model_urls|safe}},
		settingsLive: {{ settings.GEOCAM_UTIL_LIVE_MODE|yesno:"true,false" }}
	};
	{% block jsInitPreApp %}
	{% endblock jsInitPreApp %}
	
	$(function(){
		app.start(appOptions);
    	app.vent.on("mapSearch:drewFeatures", function(e) {
        	app.vent.trigger('mapSearch:fit');
        });
        
        {% block preLayout %}
		{% endblock preLayout %}
		
    	xgds_gridstack.initializeGridstack();
    	
    	{% block otherJSInit %}
		{% endblock otherJSInit %}
		
	});
	
{% endblock %}

{% block preMap %}
{% for modelName in model_names %}
<div id="view-gridstack-item-{{modelName}}" class="grid-stack-item" 
		data-gs-x="{{ forloop.counter0|multiply:3 }}" data-gs-y="{{ forloop.counter0|multiply:2 }}"
        data-gs-width="3" data-gs-height="{% if forloop.counter0 == 0 %}4{% else %}3{% endif %}" >
        <div class="grid-stack-item-content" id="view-gridstack-item-content-{{modelName}}" >
				<i class="fa fa-refresh right" title="Load Latest" id="reload{{modelName}}"></i>
				<i class="fa fa-unlock-alt pinDiv warning"></i>
				<i class="fa fa-window-close fa-lg"></i>
				<button class="info btn btn-primary prev-button" id="ajax_prev_button"><i class="fa fa-step-backward"></i></button>
				<strong id="nameBlock"></strong>
				<button class="info btn btn-primary next-button" id="ajax_next_button"><i class="fa fa-step-forward"></i></button>
				<div id="viewDiv{{modelName}}" class="view-div">
				</div>
				<div id="notesDiv{{modelName}}">
				</div>
		</div>
</div> 
{% endfor %}
{% endblock preMap %}

{% block map %}
<div id="map-gridstack-item" class="grid-stack-item" 
data-gs-x="3" data-gs-y="0"
      data-gs-width="2" data-gs-height="1" >
	<div class="grid-stack-item-content" id="map-gridstack-item-content" >
		<ul class="nav justify-content-end">
			<i class="fa fa-lock pinDiv warning"></i>
		</ul>
      		{% siteframe_form %}
		<div id="map"></div>
	</div>
</div>
{% endblock map %}

{% block layers %}
<div id="map-gridstack-item" class="grid-stack-item" 
data-gs-x="6" data-gs-y="0"
      data-gs-width="1" data-gs-height="1" >
	<div class="grid-stack-item-content" id="layers-gridstack-item-content">
	<i class="fa fa-window-close fa-lg"></i>
	<i class="fa fa-unlock-alt pinDiv warning"></i>
	<div id="layers"></div>
	</div>
</div>
{% endblock layers %}




		

