{% extends 'dashboard_base.html' %}

{% load siteFrames %}

{% block sitemenu-content-secondary %}
	{% include "xgds_map_server/mapSearch_subnav.html" %}
{% endblock %}

{% block cssExtras %}
{{ block.super }}
{% include "xgds_notes2/NoteCSS.html" %}
{% endblock cssExtras %}

{% block scripts %}
{{block.super}}
	{% include "xgds_notes2/NoteJS.html" %}
	{% for template_name, template in templates.items %}
	<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
	</script>
    {% endfor %}
{% endblock scripts %}


{% block jsInit %}
	var siteFrames = {% siteframes_dict %};
	appOptions = {
		BODY_RADIUS_METERS: {{ settings.XGDS_MAP_SERVER_BODY_RADIUS_METERS }},
		DEFAULT_COORD_SYSTEM: "{{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM }}",
		SETUP_COORD_SYSTEM: {{ settings.XGDS_MAP_SERVER_MAP_SETUP_COORD_SYSTEM }},
		DEFAULT_COORD_SYSTEM_CENTER: {{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM_CENTER }},
		DEFAULT_ZOOM: {{ settings.XGDS_MAP_SERVER_DEFAULT_ZOOM }},
		DEFAULT_ROTATION: {{ settings.XGDS_MAP_SERVER_DEFAULT_ROTATION }},
		SHOW_COMPASS: {{ settings.XGDS_MAP_SERVER_SHOW_COMPASS}},
		selectedLayerUrl: "{{ settings.XGDS_MAP_SERVER_SELECTED_LAYER_URL }}",
		layerFeedUrl: "{{ settings.XGDS_MAP_SERVER_LAYER_FEED_URL }}",
		siteFrame: {% siteframe settings.XGDS_CURRENT_SITEFRAME_ID %},
		XGDS_MAP_SERVER_MAP_LOADED_CALLBACK: {{ settings.XGDS_MAP_SERVER_MAP_LOADED_CALLBACK }},
		dataUrl: "{{ settings.DATA_URL }}",
		searchModels: {{ settings.XGDS_MAP_SERVER_JS_MAP|safe }},
		modelName: '{{modelName}}',
		modelPK: '{{modelPK}}',
		settingsLive: {{ settings.GEOCAM_UTIL_LIVE_MODE|yesno:"true,false" }}
	};
	{% block jsInitPreApp %}
	{% endblock jsInitPreApp %}
	
	$(function(){
		app.start(appOptions);
    	app.vent.on("mapSearch:drewFeatures", function(e) {
        	app.vent.trigger('mapSearch:fit');
        });
        
        {% block preLayout %}
		{% endblock preLayout %}
		
    	xgds_gridstack.initializeGridstack();
    	
    	{% block otherJSInit %}
		{% endblock otherJSInit %}
		
	});
	
{% endblock %}

{% block preMap %}
<div id="view-gridstack-item" class="grid-stack-item" 
		data-gs-x="0" data-gs-y="0"
        data-gs-width="3" data-gs-height="3" >
        <div class="grid-stack-item-content" id="view-gridstack-item-content" >
				<i class="icon-lock-open pinDiv warning"></i>
				
				<div id="viewDiv">
				</div>
		</div>
</div> 
<div id="notes-gridstack-item" class="grid-stack-item" 
		data-gs-x="3" data-gs-y="3"
        data-gs-width="3" data-gs-height="1" >
        <div class="grid-stack-item-content" id="notes-gridstack-item-content" >
				<i class="icon-lock-open pinDiv warning"></i>
				
				<div id="notesDiv">
				</div>
		</div>
</div> 
{% endblock preMap %}


{% block map %}
<div id="map-gridstack-item" class="grid-stack-item" 
data-gs-x="3" data-gs-y="4"
      data-gs-width="2" data-gs-height="1" >
	<div class="grid-stack-item-content" id="map-gridstack-item-content" >
	<i class="icon-lock pinDiv warning"></i>
      		{% siteframe_form %}
		<div id="map"></div>
	</div>
</div>
{% endblock map %}

{% block layers %}
<div id="map-gridstack-item" class="grid-stack-item" 
data-gs-x="6" data-gs-y="4"
      data-gs-width="1" data-gs-height="1" >
	<div class="grid-stack-item-content" id="layers-gridstack-item-content">
	<i class="icon-cancel-circled"></i>
	<i class="icon-lock-open pinDiv warning"></i>
	<div id="layers"></div>
	</div>
</div>
{% endblock layers %}

		

