
    <div class="grid-stack-item-content" id="searchContainer" style="minHeight:100px">
    	<i class="icon-lock-open pinDiv warning"></i>
		<i class="icon-cancel-circled"></i>
		<div id="message" style="color:red;" class='item auto'><br/></div>
		<div id="modelChoiceDiv" class='item auto '>
			Search for: 
			<select id="searchModelSelector">
			{{#each searchModels}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
			</select>
			<button id="getSearchFormButton" class="small">Start</button>
		</div>
		<div id="searchFormDiv" ></div>
	</div>
	
	