<div class="row justify-content-between">
    <div class="col-3 ">
        <div id="today_div" style="display:inline">
            <input type="checkbox" style="display:inline" class="mr-1 mt-1" id="today" value="today">Today
        </div>
        <div id="subscription_div" style="display:inline">
            <input type="checkbox" style="display:inline" class="mr-1 mt-1" id="subscription" value="subscribe" checked>Subscribe
        </div>
        <div id="time_control_search_div" style="display:inline; visibility:hidden; margin-left:15px;">
            <input type="checkbox" style="display:inline;" class="mr-1 mt-1" id="time_control_search">Time Control
        </div>
    </div>
    <div class="col-2">
         <span class="export-err">No rows selected.</span>
    </div>
    <div class="justify-content-end">
        <button id="clear-selection-btn" class="btn btn-primary btn-sm">Clear Selection</button>
        <button id="save-selection-btn" class="btn btn-primary btn-sm">Save Selection</button>
        <button id="export-modal-btn" class="btn btn-primary btn-sm">Export</button>
        <button id="advanced_search_button" type="button" class="btn btn-primary btn-sm" data-backdrop=false data-toggle="modal" data-target="#advancedSearchModal">Filter</button>
    </div>
    <div class="col-12 ss-container">
        <div class="row">
            <div class="col-5 ss-keyword-container input-group" id="ss-keyword-container-id">
                <input type="text" class="form-control search-keyword" name="search-keyword" id="search-keyword-id" placeholder="Keyword">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" id="keyword-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu dropdown-menu-right" id="keyword-dropdown-menu">
                        <div id="keyword-query-editor" class="dropdown-input-list col-12" tabindex="0"></div>
                    </div>
                </div>
            </div>
            <div class="col-1 ss-select-container">
                <select class="form-control search-select" id="search-select-id">
                  <option value="and">and</option>
                  <option value="or">or</option>
                </select>
            </div>
            <div class="col-6 ss-tags-container input-group">
                <input type="text" class="form-control search-tags" data-role="tagsinput" name="search-tags" id="search-tags-id" placeholder="Type tag">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" id="tags-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-offset" id="tags-dropdown-menu">
                        <div id="tags-query-editor" class="dropdown-input-list col-12" tabindex="0"></div>
                    </div>
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="simple-search-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="clear-search-btn-id" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>
<table id="searchResultsTable" class="display compact" cellspacing="0" width="100%">
</table>
