<div class="row">
    <div class="col-12">
        <input type="checkbox" style="display:inline" class="mr-1" id="today" value="today" {{#if settingsLive}}checked{{/if}}>Today
        <button id="export-modal-btn" class="btn btn-primary btn-sm">Export</button>
    </div>
    <div class="col-12">
        <span class="export-err">No rows selected.</span>
    </div>
    <div class="col-12 ss-container">
        <div class="row">
            <div class="col-6 ss-keyword-container input-group">
                <input type="text" class="form-control search-keyword" name="search-keyword" id="search-keyword-id" placeholder="Keyword">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" id="keyword-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu dropdown-menu-right" id="keyword-dropdown-menu">
                        <div id="keyword-query-editor" class="dropdown-input-list col-12" tabindex="0"></div>
                    </div>
                </div>
            </div>
            <div class="col-6 ss-tags-container input-group">
                <input type="text" class="form-control search-tags" name="search-tags" id="search-tags-id" placeholder="Tags">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" id="tag-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu dropdown-menu-right" id="tag-dropdown-menu">
                        <div id="tag-query-editor" class="dropdown-input-list col-12" tabindex="0"></div>
                    </div>
                </div>
                <span class="input-group-btn simple-search-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>
<table id="searchResultsTable" class="display" cellspacing="0" width="100%">
</table>