<div class="row">
    <div class="col-12">
        <input type="checkbox" style="display:inline" class="mr-1" id="today" value="today" {{#if settingsLive}}checked{{/if}}>Today
        <button id="export-modal-btn" class="btn btn-primary btn-sm">Export</button>
    </div>
    <div class="col-12">
        <span class="export-err">No rows selected.</span>
    </div>
    <div class="col-12 ss-container">
        <div class="row">
            <div class="col-5 ss-keyword-container input-group" id="ss-keyword-container-id">
                <input type="text" class="form-control search-keyword" name="search-keyword" id="search-keyword-id" placeholder="Keyword">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" id="keyword-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu dropdown-menu-right" id="keyword-dropdown-menu">
                        <div id="keyword-query-editor" class="dropdown-input-list col-12" tabindex="0"></div>
                    </div>
                </div>
            </div>
            <div class="col-2 ss-select-container">
                <select class="form-control search-select" id="search-select-id">
                  <option value="or">or</option>
                  <option value="and">and</option>
                </select>
            </div>
            <div class="col-5 ss-tags-container input-group">
                <input type="text" class="form-control search-tags" data-role="tagsinput" name="search-tags" id="search-tags-id" placeholder="Type to check tag">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" id="tags-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-offset" id="tags-dropdown-menu">
                        <div id="tags-query-editor" class="dropdown-input-list col-12" tabindex="0"></div>
                    </div>
                </div>
                <span class="input-group-btn simple-search-btn-container">
                    <button class="btn btn-primary" id="simple-search-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>
<table id="searchResultsTable" class="display" cellspacing="0" width="100%">
</table>