
    <div class="grid-stack-item-content" id="searchContainer" style="minHeight:100px">
    	<i class="icon-lock-open pinDiv warning"></i>
		<i class="icon-cancel-circled"></i>
		<div id="message" style="color:red;" class='item auto'><br/></div>
		<div id="modelChoiceDiv" class='item auto '>
		Search for: 
		<select id="searchModelSelector">
		{{#each searchModels}}
			<option value="{{this}}">{{this}}</option>
		{{/each}}
		</select>
		<button id="getSearchFormButton" class="small">Start</button>
		</div>
		<div id="searchFormDiv" ></div>
	</div>
	
	<div id="searchDiv" class="grid-stack-item" 
		data-gs-x="0" data-gs-y="0"
        data-gs-width="3" data-gs-height="2" >
	</div>
	
	<div id="search-results-gridstack-item" class="grid-stack-item" 
		data-gs-x="0" data-gs-y="2"
        data-gs-width="3" data-gs-height="2" >
        <div class="grid-stack-item-content" id="search-results-gridstack-item-content" >
			<div id="searchResultsDiv">
			</div>
		</div>
	</div> 
	
	<div id="view-gridstack-item" class="grid-stack-item" 
		data-gs-x="0" data-gs-y="4"
        data-gs-width="3" data-gs-height="3" >
        <div class="grid-stack-item-content" id="view-gridstack-item-content" >
				<div id="viewDiv"></div>
		</div>
	</div> 
		
