<input type="checkbox" style="display:inline" class="mr-1" id="today" value="today" {{#if settingsLive}}checked{{/if}}>Today
<table id="searchResultsTable" class="display" cellspacing="0" width="100%">
</table>