{% extends "MapBase.html" %}

{% block scripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}xgds_map_server/js/util/kmlLayerForm.js" type="text/javascript"></script>
{% endblock %}

{% block contents %}
{{ block.super }}
<div class="btn-toolbar" role="toolbar" >
  <div class="btn-group mr-2" role="group" >
	<a href="{% url 'folderAdd' %}" class="btn btn-primary"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Folder</a>
	<a href="{% url 'addKml' %}" class="btn btn-primary active"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Kml</a>
	<a href="{% url 'mapAddLayer' %}" class="btn btn-primary "><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Map Layer</a>
	<a href="{% url 'mapAddTile' %}" class="btn btn-primary"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Tile</a>
	<a href="{% url 'mapAddDataTile' %}" class="btn btn-primary"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Data Tile</a>
<!-- <a href="{% url 'mapAddMapCollection' %}" class="btn btn-primary"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Collection</a> -->
  </div>
 </div>
 
<form action="#" enctype="multipart/form-data" method="post">
<p>
<label></label>
<span class="h6"> Add KML</span>
</p>
{% include "MapForm.html" %}
<p>
<label></label>
<input type="submit" value="Create" />
</p>
{% csrf_token %}
</form>
{% endblock %}
