{% extends "MapBase.html" %}
{% load static %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'xgds_map_server/js/util/kmlLayerForm.js' %}" type="text/javascript"></script>
{% endblock %}

{% block contents %}
{{ block.super }}
<div class="btn-toolbar" role="toolbar" >
  {% include "AddNodeButtons.html" %}
 </div>
 
<form action="#" enctype="multipart/form-data" method="post">
<p>
<label></label>
<span class="h6"> Add KML</span>
</p>
{% include "MapForm.html" %}
<p>
<label></label>
<input type="submit" value="Create" />
</p>
{% csrf_token %}
</form>
{% endblock %}

{% block footer %}
{% endblock footer %}