{% extends "MapBase.html" %}

{% block contents %}
{{ block.super }}
{% if error %}<h4 style="color:red">Error: {{ errorText }}</h4>{% endif %}
<form action="#" enctype="multipart/form-data" method="post">{% csrf_token %}
<p>
<label></label>
<span class="h6"> Add Map Layer</span>
</p>
<p>
<label></label>
<span>
Create a new Map Layer. You can add polygons, lines and points to the 
Map Layer in the Map Layer editor.
</span>
</p> 

{{ layerForm.as_p }}
<p class="form-group">
<label></label>
<input type="submit" value="Create" />
</p>
</form>
{% endblock %}
