{% load nav %}

<div class="btn-group mr-2" role="group" >
    <a href="{% url 'folderAdd' %}" class="btn btn-primary {% currentnav folder* %}"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Folder</a>
	<a href="{% url 'addKml' %}" class="btn btn-primary {% currentnav addKml editKml %}"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Kml</a>
	<a href="{% url 'mapAddLayer' %}" class="btn btn-primary {% currentnav mapAddLayer mapEditLayer %}"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Map Layer</a>
	<a href="{% url 'mapAddWMSTile' %}" class="btn btn-primary {% currentnav mapAddWMSTile mapEditWMSTile %}"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>WMS Layer</a>
	<a href="{% url 'mapAddGeoJSON' %}" class="btn btn-primary {% currentnav mapAddGeoJSON %}"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>GeoJSON</a>
	<a href="{% url 'mapAddGeotiff' %}" class="btn btn-primary {% currentnav mapAddGeotiff %}"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Geotiff</a>
</div>