{% extends "MapBase.html" %}

{% block contents %}
{{ block.super }}
 <div class="btn-toolbar" role="toolbar" >
  {% include "AddNodeButtons.html" %}
 </div>

{% if error %}<h4 style="color:red">Error: {{ errorText }}</h4>{% endif %}

<div class="mw-50">
<form action="#" enctype="multipart/form-data" method="post">{% csrf_token %}
    <p>
<label></label>
<span class="h6">{{ title }}</span>
</p>
<p>
{{ instruction }}
</p>
{{ form.as_p }}
<p class="form-group">
<label for="create_button"></label>
<input type="submit" value="Create" id="create_button" />
</p>
</form>
</div>
{% endblock %}

  {% block footer %}
  {% endblock footer %}