{% extends "MapBase.html" %}

{% block scripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}xgds_map_server/js/util/kmlLayerForm.js" type="text/javascript"></script>
{% endblock %}

{% block contents %}
{{ block.super }}
<form action="#" enctype="multipart/form-data" method="post">{% csrf_token %}
<p>
<label></label>
<span class="h6"> Edit KML</span>
</p>
{% include "MapForm.html" %}
{% csrf_token %}
<input type="submit" id="saveButton" value="{% if fromSave %}Success!{% else %}Save{% endif %}" />
<a href="{%  url 'nodeDelete' map_obj.uuid %}" class="btn btn-primary"> {% if map_obj.deleted %}Undelete{% else %}Delete{% endif %}</a>
</form>
{% endblock %}

{% block jsInit %}
{{ block.super }}
{% if fromSave %}
$(document).ready(function(){setTimeout(function(){$("#saveButton")[0].value="Save";},1500);});
{% endif %}
{% endblock %}
