{% extends "MapBase.html" %}
{% load help_button %}

{% block contents %}
{{ block.super }}
{% if error %}<h4 style="color:red">Error: {{ errorText }}</h4>{% endif %}
{% help_button help_content_path title %}
<h2>{{ title }}</h2>
{% if extras %}
{{ extras|safe }}
{% endif %}
<form action="#" enctype="multipart/form-data" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Save" />
<a href="{% url 'nodeDelete' form.instance.uuid %}" class="mybutton">{% if form.instance.deleted %}Undelete{% else %}Delete{% endif %}</a>
</form>
{% endblock %}

{% block jsInit %}
{{ block.super }}
{% if fromSave %}
$(document).ready(function(){setTimeout(function(){$("#saveButton")[0].value="Save";},1500);});
{% endif %}
{% endblock %}