{% extends "MapBase.html" %}

{% block contents %}
{{ block.super }}
<h3>Folder Details</h3>

{% if error %}<h4 style="color:red">Error: {{ errorText }}</h4>{% endif %}
<form action="#" enctype="multipart/form-data" method="post">{% csrf_token %}
{{ groupForm.as_p }}
<input type="submit" id="saveButton" value="{% if fromSave %}Success!{% else %}Save{% endif %}" /><input type="button" onclick="document.location.href = '{% if group_obj.deleted %}{{ deletedMapsUrl }}{% else %}{{ mapTreeUrl }}{% endif %}'" value="Back" /><input type="button" onclick="document.location.href = '{{ folderDeleteUrl }}'" value="{% if group_obj.deleted %}Undelete{% else %}Delete{% endif %} Folder" />
</form>
{% endblock %}

{% block jsInit %}
{{ block.super }}
{% if fromSave %}
$(document).ready(function(){setTimeout(function(){$("#saveButton")[0].value="Save";},1500);});
{% endif %}
{% endblock %}
