{% extends "MapBase.html" %}

{% block contents %}
{{ block.super }}
<form action="#" method="post">{% csrf_token %}
<p>Are you sure you want to {% if groupObj.deleted %}undelete{% else %}delete{% endif %} folder "{{ groupObj.name }}"?<br>
Warning: this will also {% if groupObj.deleted %}undelete{% else %}delete{% endif %} all elements under this folder.</p>
<input type="submit" class="btn btn-primary" value="{% if groupObj.deleted %}Undelete{% else %}Delete{% endif %}" />
<a class="btn btn-primary" href="{% url 'folderDetail' groupObj.uuid %}">Cancel</a>
</form>
{% endblock %}
