{% block sitemenu-content-secondary %}
{% load nav %}
		<li class='nav-item {% currentnav xgds_map_server_index %}'><a class="nav-link {% currentnav xgds_map_server_index %}" href="{% url 'xgds_map_server_index' %}">View</a></li>
		<li class='nav-item {% currentnav map* folder* addKml deletedMaps %}'><a class="nav-link {% currentnav map* folder* addKml deletedMaps %}" href="{% url 'mapTree' %}">Edit</a></li>
		<li class='nav-item {% currentnav xgds_map_server_feed_page %}'><a class="nav-link {% currentnav xgds_map_server_feed %}" href="{% url 'xgds_map_server_feed_page' %}">Google Earth Feed</a></li>
{% endblock %}
