{% extends "MapServerSiteStyle.html" %}

{% block contents %}
{{ block.super }}
<form action="#" method="post">{% csrf_token %}
{{ mapForm.as_p }}
<input type="submit" id="saveButton" value="Save" /><input type="button" onclick="document.location.href = '{{ mapTreeUrl }}'" value="Back" />
</form>
{% endblock %}

{% block jsInit %}
{{ block.super }}
fromSave = {{ fromSave }};

$(document).ready(function(){
    if (fromSave) {
        $("#saveButton")[0].value = "Success!";
        setTimeout(function(){$("#saveButton")[0].value="Save";}, 1500);
    }
});
{% endblock %}
