{% extends "MapServerSiteStyle.html" %}

{% block contents %}
{{ block.super }}
<form action="#" method="post">{% csrf_token %}
{{ mapForm.as_p }}
<input type="submit" id="saveButton" value="{% if fromSave %}Success!{% else %}Save{% endif %}" /><input type="button" onclick="document.location.href = '{{ mapTreeUrl }}'" value="Back" /><input type="button" onclick="document.location.href = '{{ mapDeleteUrl }}'" value="Delete Map" />
</form>
{% endblock %}

{% block jsInit %}
{{ block.super }}
{% if fromSave %}
$(document).ready(function(){setTimeout(function(){$("#saveButton")[0].value="Save";},1500);});
{% endif %}
{% endblock %}
