{% extends "base.html" %}
{% load pipeline %}
{% load siteFrames %}
{% load static %}

{% block sitemenu-content-secondary %}
{% include "map_subnav.html" %}
{% endblock %}

{% block siteSection %}Edit {{ layerName }}{% endblock %}


{% block content %}
<script type="x-template/underscore" id="application_contents">
	<div id="toolbar" class="container-fluid">
	</div>
	
	<div class="grid-stack grid-stack-6" id="container">
    	<div id="map-gridstack-item" class="grid-stack-item"  data-gs-x="0" data-gs-y="0" data-gs-width="3" data-gs-height="4" >
			<div id="map-gridstack-item-content"  class="grid-stack-item-content" >
				<ul class="nav justify-content-end">
					<i class="fa fa-lock pinDiv gray-light"></i>
				</ul>
				<div id="overmap" class="mb-1 mt-negative-1rem" >
        			{% if mapLayerDict.jsonFeatures|length == 0 %}
        			{% siteframe_form %}
        			{% endif %}
        		</div>
        		<div id="editingTools" ></div>
    			<div id="map"></div>
    			<div id="postmap" ></div>
    			<div id="postpostmap" ></div>
    		</div>
    	</div>
    	<div id="tabs-gridstack-item" class="grid-stack-item"  data-gs-x="3" data-gs-y="0" data-gs-width="3" data-gs-height="4" >
    		<div id="tabs-gridstack-item-content" class="grid-stack-item-content" >
    		<i class="fa fa-unlock-alt pinDiv gray-light"></i>
		    <div id="tabs" ></div>
		    </div>
		</div>
    </div>
    
    <div id="saveAsDialog" style="display:none; background:white !important;">
		<p>Enter a new map layer name to save as.</p>
		<table>
		<tr>
			<td><label for="saveAsName">Name</label></td>
			<td><input type="text" id="saveAsName"></td>
		</tr>
		<tr></tr>
		</table>
	</div>

    <div id="newLayerModal" class="modal hide fade">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Create new layer from selected features</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form action="/xgds_map_server/addLayerFromSelected/" method="post">
                    {% csrf_token %}
                    {{ layerForm.as_p }}
                    <input type="submit" class="btn btn-primary" id="btn-new-layer-selected">
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
        </div>
    </div>

    <div id="saved-notification">
      <p class="saved-msg"><strong>Your map layer has been successfully saved.</strong></p>
    </div>
</script>
<style scoped>
  {# stylesheet 'planner_app' #}
  @import url('{{EXTERNAL_URL}}jquery-ui/themes/base/jquery-ui.min.css');
  @import url('{{EXTERNAL_URL}}ol3-popup/src/ol3-popup.css');
  @import url("{% static 'xgds_planner2/css/planner.css' %}");
  @import url('{{EXTERNAL_URL}}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css');
                             
  /* for some reason compressing this in the css does not work so it's separate in the planner_app */
  @import url('{{ EXTERNAL_URL }}backbone-forms/distribution/templates/old.css');
  @import url('{{ EXTERNAL_URL }}openlayers/ol.css');
  @import url("{% static 'geocamUtil/css/datatable.css'%}");
  @import url('{{ EXTERNAL_URL }}fancytree/dist/skin-lion/ui.fancytree.min.css');
  @import url("{% static 'xgds_map_server/css/fancytree_custom.css' %}");
  @import url("{% static 'xgds_map_server/css/xgds_map_server.css' %}");
  @import url("{% static 'xgds_planner2/css/forms_adjust.css' %}");
  @import url('{{ EXTERNAL_URL }}gridstack/dist/gridstack.min.css');
  @import url('{{ EXTERNAL_URL }}gridstack/dist/gridstack-extra.min.css');
  @import url('{{ EXTERNAL_URL }}spectrum/spectrum.css');
  /*.grid-stack-item-content {
    	display: block;
    	margin: 20px 0 10px;
    } */
</style>
{% if 'xgds_notes2' in settings.INSTALLED_APPS %}
{% include "xgds_notes2/NoteCSS.html" %}
{% endif %}

<div id="application" >
</div>
{% endblock content %}

{% block scripts %}
	{{ block.super }}
	{% include "xgds_core/timeJS.html" %}
	<script type="text/javascript">
    var copiedFeatures = {{ copiedFeatures|safe }}
	var appOptions = {
	    	BODY_RADIUS_METERS: {{ settings.XGDS_MAP_SERVER_BODY_RADIUS_METERS }},
	 		DEFAULT_COORD_SYSTEM: '{{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM }}',
	 		SETUP_COORD_SYSTEM: '{{ settings.XGDS_MAP_SERVER_MAP_SETUP_COORD_SYSTEM }}',
			DEFAULT_COORD_SYSTEM_CENTER: {{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM_CENTER }},
			DEFAULT_ZOOM: {{ settings.XGDS_MAP_SERVER_DEFAULT_ZOOM }},
			DEFAULT_ROTATION: {{ settings.XGDS_MAP_SERVER_DEFAULT_ROTATION }},
			SHOW_COMPASS: {{ settings.XGDS_MAP_SERVER_SHOW_COMPASS}},
	        offline: {{ settings.XGDS_PLANNER_OFFLINE|yesno:'true,false' }},
	 		selectedLayerUrl: '{{ settings.XGDS_MAP_SERVER_SELECTED_LAYER_URL }}',
	        layerFeedUrl: '{{ settings.XGDS_MAP_SERVER_LAYER_FEED_URL }}',
	        deleteUrl: '{% url 'nodeDelete' uuid %}',
	        XGDS_MAP_SERVER_MAP_LOADED_CALLBACK: '{{ settings.XGDS_MAP_SERVER_MAP_LOADED_CALLBACK }}',
	        dataUrl: '{{ settings.DATA_URL }}',
	        readOnly: {{ mapLayerDict.locked|yesno:'false,true' }},
	        mapLayerDict: {{ mapLayerDict|safe }},
	        siteFrame: {% siteframe settings.XGDS_CURRENT_SITEFRAME_ID %},
	        saveMaplayerUrl: '{{ saveMaplayerUrl }}',
	        searchModels: {{ settings.XGDS_MAP_SERVER_JS_MAP|safe }},
	        settingsLive: {{ settings.GEOCAM_UTIL_LIVE_MODE|yesno:'true,false' }}
	    };
	</script>
   	{% include "MapJS.html" %}
   	{% if 'xgds_notes2' in settings.INSTALLED_APPS %}
	   	{% include "xgds_notes2/NoteJS.html" %}
	{% endif %}
	
     <script type="text/javascript" src="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
     <script type="text/javascript" src="{{ EXTERNAL_URL }}moment-duration-format/lib/moment-duration-format.js"></script>
     <script language="javascript" type="text/javascript" src="{% static 'xgds_core/js/datatablesUtils.js' %}"></script>
     <script type="text/javascript" src="{{ EXTERNAL_URL }}datatables-sorting-datetime-moment/index.js"></script>
    
     <script type="text/javascript" src='{{ EXTERNAL_URL }}jquery-migrate/index.js'></script>
    
    <script type="text/javascript" src='{{ EXTERNAL_URL }}backbone-relational/backbone-relational.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}backbone-forms/distribution/backbone-forms.min.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}string-format/lib/string-format.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}usng/usng.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}pure-uuid/uuid.min.js'></script>
    <script type="text/javascript" src="{{ EXTERNAL_URL }}gridstack/dist/gridstack.min.js" ></script>
	<script type="text/javascript" src="{% static 'xgds_core/js/gridstackUtils.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'xgds_map_server/js/util/handlebars-helpers.js' %}"></script>
    <script type="text/javascript" src="{% static 'xgds_map_server/js/util/geo.js' %}"></script>
    <script type="text/javascript" src="{% static 'xgds_map_server/js/util/forms.js' %}"></script>
    <script type="text/javascript" src="{% static 'xgds_map_server/js/map_editor/mapEditorModels.js' %}"></script>
    <script type="text/javascript" src="{% static 'xgds_map_server/js/map_editor/mapEditorViews.js' %}"></script>
    <script type="text/javascript" src="{% static 'xgds_map_server/js/map_editor/olMapEditorViews.js' %}"></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}spectrum/spectrum.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
   	
    {% for template_name, template in templates.items %}
		<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
		</script>
    {% endfor %}
    {% include "xgds_map_server/SearchForms.html" with searchForms=searchForms %}
    {% include "xgds_map_server/MapSearchDialog.html" with saveSearchForm=saveSearchForm %}
    
    {% javascript 'custom_map' %}
    
{% endblock scripts %}

{% block jsInit %}
	var siteFrames = {% siteframes_dict %};

	$(function(){
	    app.vent.on('onMapSetup', function() {
		    xgds_gridstack.initializeGridstack();
	    	
	    	// gridstack does not play nice with handlebars. 
	    	var tabsdiv = $('#tabs');
	    	var tgi = $("#tabs-gridstack-item");
	    	var tgic = $("#tabs-gridstack-item-content");
	    	var newheight = $(window).height() - 180;
	    	tgi.height(newheight);
	    	tabsdiv.width(tgic.width() - 10);
	    	
	    	var mgic = $("#map-gridstack-item-content");
	    	var mgi = $("#map-gridstack-item");
	    	mgi.height(newheight); 
	    	app.vent.trigger('recenterMap');
		});
		app.start();
	});

	$(document).on('beforeunload', function() {
        if (app.dirty) {
            return 'Unsaved changes, are you sure you want to exit?';
        }
    });
    
{% endblock jsInit %}
  
{% block footer %}
{% endblock footer %}