{% extends "base.html" %}
{% load pipeline %}

{% block sitemenu-content-secondary %}
{% include "map_subnav.html" %}
{% endblock %}

{% block siteSection %}Edit {{ layerName }}{% endblock %}


{% block content %}
<style scoped>
  {# stylesheet 'planner_app' #}
  @import url('{{EXTERNAL_URL}}jquery-ui/themes/base/jquery-ui.css');
  @import url('{{EXTERNAL_URL}}ol3-popup/src/ol3-popup.css');
  @import url('{{STATIC_URL}}xgds_planner2/css/planner.css');
                             
  /* for some reason compressing this in the css does not work so it's separate in the planner_app */
  @import url('{{ EXTERNAL_URL }}backbone-forms/distribution/templates/old.css');
  @import url('{{ EXTERNAL_URL }}openlayers3/ol.css');
  @import url('{{ EXTERNAL_URL }}fancytree/dist/skin-lion/ui.fancytree.min.css');
  @import url('{{ STATIC_URL }}xgds_map_server/css/fancytree_custom.css');
  @import url('{{ STATIC_URL }}xgds_planner2/css/forms_adjust.css');
      .map {
        height: 400px;
        width: 100%;
      }
</style>

<div id="application" >
	<div id="toolbar" class="row"></div>
	<div class="row">
        <div id="overmap" class="six columns">
        {% if settings.XGDS_SITEFRAMES|length > 1 %}
        	{% if mapLayerDict.features|length == 0 %}
        	{{selectSiteFrameForm}}
        	{% endif %}
        {% endif %}
        </div>
        <div id="overlayers" class="six columns"></div>
    </div>
	<div class="row">
		<div id="editingDiv" class="five columns">
    		<div id="editingTools"></div>
    		<div id="noEditingTools">&nbsp;</div>
    	</div>
	</div>
    <div class="row">
        <div id="map" class="five columns"></div>
        <div id="tabs" class="seven columns"></div>       
    </div>
    <div class="row">
		<div id="postmap"></div>
	</div>
    
    <div id="saveAsDialog" style="display:none; background:white !important;">
		<p>Enter a new map layer name to save as.</p>
		<table>
		<tr>
			<td><label for="saveAsName">Name</label></td>
			<td><input type="text" id="saveAsName"></td>
		</tr>
		<tr></tr>
		</table>
	</div>
</div>
{% endblock content %}

{% block scripts %}
	{{ block.super }}
   	{% include "MapJS.html" %}
    <script type="text/javascript" src='{{ EXTERNAL_URL }}backbone-relational/backbone-relational.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}backbone-forms/distribution/backbone-forms.min.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}string-format/lib/string-format.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}usng/usng.js'></script>

    <script type="text/javascript" src='{{STATIC_URL}}xgds_map_server/js/util/forms.js'></script>
    <script type="text/javascript" src='{{STATIC_URL}}xgds_map_server/js/map_editor/mapEditorModels.js'></script>
    <script type="text/javascript" src='{{STATIC_URL}}xgds_map_server/js/map_editor/mapEditorViews.js'></script>
    <script type="text/javascript" src='{{STATIC_URL}}xgds_map_server/js/map_editor/olMapEditorViews.js'></script>
   	
    {% for template_name, template in templates.items %}
		<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
		</script>
    {% endfor %}
    {% include "xgds_map_server/SearchForms.html" with searchForms=searchForms %}
    {% include "xgds_map_server/MapSearchDialog.html" with saveSearchForm=saveSearchForm %}
    
    {% javascript 'custom_map' %}
    
    <script type="text/javascript" src='{{STATIC_URL}}xgds_map_server/js/util/geo.js'></script>
    
{% endblock scripts %}

{% block jsInit %}
	var siteFrames = {{settings.XGDS_SITEFRAMES|safe}};
    var appOptions = {
    	BODY_RADIUS_METERS: {{ settings.XGDS_MAP_SERVER_BODY_RADIUS_METERS }},
 		DEFAULT_COORD_SYSTEM: "{{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM }}",
 		SETUP_COORD_SYSTEM: {{ settings.XGDS_MAP_SERVER_MAP_SETUP_COORD_SYSTEM }},
		DEFAULT_COORD_SYSTEM_CENTER: {{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM_CENTER }},
		DEFAULT_ZOOM: {{ settings.XGDS_MAP_SERVER_DEFAULT_ZOOM }},
		DEFAULT_ROTATION: {{ settings.XGDS_MAP_SERVER_DEFAULT_ROTATION }},
		SHOW_COMPASS: {{ settings.XGDS_MAP_SERVER_SHOW_COMPASS}},
        offline: {{ settings.XGDS_PLANNER_OFFLINE|yesno:"true,false" }},
 		selectedLayerUrl: "{{ settings.XGDS_MAP_SERVER_SELECTED_LAYER_URL }}",
        layerFeedUrl: "{{ settings.XGDS_MAP_SERVER_LAYER_FEED_URL }}",
        deleteUrl: "{% url 'nodeDelete' uuid %}",
        XGDS_MAP_SERVER_MAP_LOADED_CALLBACK: {{ settings.XGDS_MAP_SERVER_MAP_LOADED_CALLBACK }},
        dataUrl: "{{ settings.DATA_URL }}",
        readOnly: {{ mapLayerDict.locked|yesno:"false,true" }},
        mapLayerDict: {{ mapLayerDict|safe }},
        siteFrame: {{ settings.XGDS_CURRENT_SITEFRAME|safe }},
        saveMaplayerUrl: "{{ saveMaplayerUrl }}",
        searchModels: {{ settings.XGDS_MAP_SERVER_JS_MAP|safe }}
    };
	
	$(function(){
	    app.start(appOptions);
	})
	
	$(window).bind('beforeunload', function() {
        if (app.dirty) {
            return 'Unsaved changes, are you sure you want to exit?';
        }
    }); 
    
{% endblock jsInit %}
  
