<!--<form action="http://some.url/" enctype="multipart/form-data" method="post">-->
<!--requires a variable called "mapForm"-->
{% if mapForm.non_field_errors %}<div class="alert alert-danger" role="alert">{{ mapForm.non_field_errors }}</div>{% endif %}
{% if mapForm.name.errors %}<div class="alert alert-danger" role="alert">{{ mapForm.name.errors }}</div>{% endif %}

<p>
<label></label>
<span>
The files you specify here will be available in the planner as a layer and in Google Earth via a map feed.
</span>
</p>
<p>
<label for="type_warning"></label>
<span class="alert alert-danger" role="alert" id="type_warning">
WARNING: Right now we do not support kmz files, nor do we support ground overlay in kml.<br/>
You can create ground overlays in Map Layers.
</span>
</p>
<p>
<label for="id_name">Map Name:</label> {{ mapForm.name }}<br/>
{% if mapForm.description.errors %}<span style="color:red">{{ mapForm.description.errors }}</span>{% endif %}
</p>
<p>
<label for="id_description">Description:</label> {{ mapForm.description }}<br>
</p>
<p>
{% if mapForm.openable.errors %}<span style="color:red">{{ mapForm.openable.errors }}</span>{% endif %}
<label for="id_openable">Openable:</label> {{ mapForm.openable }}<br/>
</p>
<p class="form-group">
{% if mapForm.visible.errors %}<span style="color:red">{{ mapForm.visible.errors }}</span>{% endif %}
	<label for="id_visible">Visible:</label>
	<span class="form-check">
		<input id="id_visible" name="visible" type="checkbox"> 
		<span style="width:300px;" class="ml-3">
			Check to turn ON by default.
		</span>
	</span>
</p>
<p>
{% if mapForm.transparency.errors %}<span style="color:red">{{ mapForm.transparency.errors }}</span>{% endif %}
<label for="id_transparency">Transparency:</label> {{ mapForm.transparency }}<span class="helptext">(100=transparent)</span><br/>
</p>
<p>
{% if mapForm.parentId.errors %}<span style="color:red">{{ mapForm.parentId.errors }}</span>{% endif %}
<label for="id_parent">In Folder:</label> {{ mapForm.parent }}<br/>
</p>
<p>
{% if mapForm.region.errors %}<span style="color:red">{{ mapForm.region.errors }}</span>{% endif %}
<label for="id_region">Region:</label> {{ mapForm.region }}<br/>
</p>
<p>
	<label >Type:</label>
	<span class="btn-group" role="group" data-toggle="buttons">
		<label class="btn btn-primary {% if not kmlChecked %} active {% endif %}"> 
			<input type="radio" value="file" name="typeChooser"
			{% if not kmlChecked %} checked {% endif %} id="typeChooser"></input>
			File Upload
		</label>
		<label class="btn btn-primary {% if kmlChecked %} active {% endif %}"> 
			<input type="radio" value="kml" name="typeChooser"
			{% if kmlChecked %}checked{% endif %} id="typeChooser"></input> KML
			Url
		</label>
	</span>
</p>
<p id="kmlFile_div" >
{% if mapForm.kmlFile.errors %}<span style="color:red">{{ mapForm.kmlFile.errors }}</span>{% endif %}
<label for="id_kmlFile" class="col-form-label col-sm-2 d-flex justify-content-end">KML URL:</label> 
<input id="id_kmlFile" maxlength="200" name="kmlFile" type="text" style="width:300px;">
</p>
<p id="localFile_div" >
{% if mapForm.localFile.errors %}<span style="color:red">{{ mapForm.localFile.errors }}</span>{% endif %}
<label for="id_localFile" class="col-form-label col-sm-2 d-flex justify-content-end">Upload File:</label> 
<input id="id_localFile" name="localFile" type="file" style="width:300px;">
</p>


{% block footer %}
{% endblock footer %}
