<!--<form action="http://some.url/" enctype="multipart/form-data" method="post">-->
<!--requires a variable called "mapForm"-->
The files you specify here will be available in the planner as a layer and in Google Earth via a map feed.
WARNING: Right now we do not support kmz files, nor do we support ground overlay in kml.
You can create ground overlays in Map Layers.</br>  
{% if mapForm.non_field_errors %}<span style="color:red">{{ mapForm.non_field_errors }}</span>{% endif %}
{% if mapForm.name.errors %}<span style="color:red">{{ mapForm.name.errors }}</span>{% endif %}
<label for="id_name">Map Name:</label> {{ mapForm.name }}<br/>
{% if mapForm.description.errors %}<span style="color:red">{{ mapForm.description.errors }}</span>{% endif %}
<label for="id_description">Description:</label> {{ mapForm.description }}<br>
<label for="typeChooser">Choose file type:</label>
<input type="radio" value="kml" name="typeChooser" {% if kmlChecked %}checked{% endif %} id="typeChooser">KML Url</input>
<input type="radio" value="file" name="typeChooser" {% if not kmlChecked %}checked{% endif %} id="typeChooser">File Upload</input><br/>
<div id="kmlFile_div">
{% if mapForm.kmlFile.errors %}<span style="color:red">{{ mapForm.kmlFile.errors }}</span>{% endif %}
<label for="id_kmlFile">KML File:</label> {{ mapForm.kmlFile }}<br/>
</div><div id="localFile_div">
{% if mapForm.localFile.errors %}<span style="color:red">{{ mapForm.localFile.errors }}</span>{% endif %}
<label for="id_localFile">Upload File:</label> {{ mapForm.localFile }}<br/></div>
{% if mapForm.openable.errors %}<span style="color:red">{{ mapForm.openable.errors }}</span>{% endif %}
<label for="id_openable">Openable:</label> {{ mapForm.openable }}<br/>
{% if mapForm.visible.errors %}<span style="color:red">{{ mapForm.visible.errors }}</span>{% endif %}
<label for="id_visible">Visible:</label> {{ mapForm.visible }}<span style="color: gray"> Checking visible will make this layer turned ON by default.</span><br/>
{% if mapForm.transparency.errors %}<span style="color:red">{{ mapForm.transparency.errors }}</span>{% endif %}
<label for="id_transparency">Transparency:</label> {{ mapForm.transparency }}<span style="color: gray">(100=transparent)</span><br/>
{% if mapForm.parentId.errors %}<span style="color:red">{{ mapForm.parentId.errors }}</span>{% endif %}
<label for="id_parent">In Folder:</label> {{ mapForm.parent }}<br/>
