	<script type="text/javascript" src='{{ EXTERNAL_URL }}sprintf.js/dist/sprintf.min.js'></script>
	<script type="text/javascript" src='{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js'></script>
	<script type="text/javascript" src='{{ EXTERNAL_URL }}jquery-cookie/jquery.cookie.js'></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}fancytree/dist/jquery.fancytree.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}fancytree/dist/src/jquery.fancytree.persist.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}lodash/lodash.min.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}handlebars/handlebars.min.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}backbone/backbone.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}marionette/lib/backbone.marionette.min.js'></script>
    <script type="text/javascript" src='{{STATIC_URL}}{{ app }}'></script>
    <script type="text/javascript" src='{{STATIC_URL}}xgds_map_server/js/fancyTreeView.js'></script>
    <script type="text/javascript" src='{{STATIC_URL}}proj4/dist/proj4.js'></script>
    <script type="text/javascript" src="{{EXTERNAL_URL}}ol3/build/ol.js" ></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}ol3-popup/src/ol3-popup.js'></script>
    <script type="text/javascript" src='{{STATIC_URL}}xgds_map_server/js/util.js'></script>
    <script type="text/javascript" src='{{STATIC_URL}}xgds_map_server/js/searchViews.js'></script>
   	<script type="text/javascript" src='{{STATIC_URL}}xgds_map_server/js/olMapViews.js'></script>
   	{% for key, value in settings.XGDS_MAP_SERVER_JS_MAP.items %}
   		<script type="text/javascript" src='{{STATIC_URL}}{{ value.ol|safe }}'></script>
   	{% endfor %}
