{% extends "MapBase.html" %}

{% block contents %}
<h2>Map List</h2>
<p>The table below describes the contents of the Master Map Feed.</p>
<!-- File URLs are: -->
<!-- <a href="{{myHost}}{{kmlCommsPath}}/{{date}}/{{f}}">{{f}}</a> -->

<center>
<table style='color:black'>
  <thead><th>Map Name</th><th>Map Group</th><th>Map Description</th><th>KML File</th><th>Openable?</th><th>Default visible?</th></thead>
  <tbody>
  {% for m in mapList %}
    <tr>
      <td align='center'>
	{{m.name}}
      </td>
      <td>
	{{m.groupname}}
      </td>
      <td>
	{{m.description}}
      </td>
      <td>
	<a href="{{m.url}}">{{m.kmlFile}}</a>
      </td>
      <td align='center'>
	{{m.openable}}
      </td>
      <td align='center'>
	{{m.visible}}
     </td>    
    </tr>
  {% endfor %}
  </tbody>
</table>
<br/>
<br/>
</center>
{% endblock %}
