{% extends "MapServerSiteStyle.html" %}
{% block cssExtras %}
  <style type="text/css">
  /*
		  #page-content a, {
		    color: #ffffff;  
		    text-decoration: none;
		}
		
		#page-content a:hover, #page-content a:focus, #page-content a:active {
		    color: #ffffff;
		}
		*/
      .no-border { border: none; }

      table {
        font-size: 14px;
        border-collapse: collapse;
      }
      table a:hover, table a:focus, table a:active {
		    color: #000000;
		}
      table th, table td { 
        margin: 0px; 
        padding: 0px; 
      }
      table thead th { 
        background: #dddddd;
        padding: 4px 4px;
        border-bottom: solid 2px #c0c0c0; 
      }

      table td {
         border-bottom: solid 1px #c0c0c0;
         border-left: solid 1px #e9e9e9;
      }
      table td:last-child {
         border-right: solid 1px #e9e9e9;
      }
      table tbody td {
        padding: 3px 4px;
        padding-right: 10px;
      }
    p.small {
      margin-bottom: 4px;
      margin-top: 4px;
    }

  </style>
{% endblock %}

{% block contents %}
<h2>Master Map Feed&nbsp;&nbsp;<a href="{{ feedUrl }}" class="mybutton" title="This button opens the map feed in Google Earth on your desktop.  Maps are managed by the server and automatically updated as new information becomes available.">Open</a> </h2>
<span style="font-size:85%">
<p>
The Master Map Feed includes all of the maps provided by this map server.
It will update automatically in Google Earth as new data becomes available.<br/>
<b>You only have to download and open this file once.</b><br/>
</p>
<p>
Click the Open button to open the Master Map Feed in Google Earth.  If it does not automatically open, 
double-click on the downloaded file ISRU2012MapFeed.kml to open it.<br/>
If the network link ever breaks (you see a red folder icon in the Google
Earth sidebar) right click on the link in Google Earth and select "refresh".
</span>
<br/>
<h2>Map List</h2>
<p>The table below describes the contents of the Master Map Feed.</p>
<!-- File URLs are: -->
<!-- <a href="{{myHost}}{{kmlCommsPath}}/{{date}}/{{f}}">{{f}}</a> -->

<center>
<table style='color:black'>
  <thead><th>Map Name</th><th>Map Group</th><th>Map Description</th><th>KML File</th><th>Openable?</th><th>Default visible?</th></thead>
  <tbody>
  {% for m in mapList %}
    <tr>
      <td align='center'>
	{{m.name}}
      </td>
      <td>
	{{m.groupname}}
      </td>
      <td>
	{{m.description}}
      </td>
      <td>
	<a href="{{m.url}}">{{m.kmlFile}}</a>
      </td>
      <td align='center'>
	{{m.openable}}
      </td>
      <td align='center'>
	{{m.visible}}
     </td>    
    </tr>
  {% endfor %}
  </tbody>
</table>
<br/>
<br/>
</center>
<!-- <hr> -->
<address></address>
{% endblock %}
