{% extends "MapBase.html" %}
{% block scripts %}
{{ block.super }}
    <script type="text/javascript" src='{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}fancytree/dist/jquery.fancytree.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}fancytree/dist/src/jquery.fancytree.dnd.js'></script>
     <script type="text/javascript" src='{{ EXTERNAL_URL }}lodash/lodash.min.js'></script>
{% endblock %}

{% block contents %}
<input type="button" class="mybutton" value="Add Layer" onClick="document.location.href='{{ addLayerUrl }}'">
<input type="button" class="mybutton" value="Add Kml" onClick="document.location.href='{{ addKmlUrl }}'">
<input type="button" class="mybutton" value="Add Folder" onClick="document.location.href='{{ addFolderUrl }}'">
<input type="button" class="mybutton" value="Undelete" onClick="document.location.href='{{ deletedMapsUrl }}'"><br>
<style scoped>
  @import url('{{EXTERNAL_URL}}jquery-ui/themes/base/jquery-ui.css');
  @import url('{{ EXTERNAL_URL }}fancytree/dist/skin-lion/ui.fancytree.min.css');
  ul.fancytree-container {
 	 height: 400px;
  	 width: 95%;
  }
</style>
<div id="layertreeContainer">
	<i class="icon-arrows-ccw" alt="refresh" id="refreshTreeLink" onclick="javascript: refreshTree();"></i>
	Drag and drop to reorganize tree.  Double-click to edit.  Checked = layer is turned on by default.
	<div id="layertree" ></div> <!-- data-source="ajax" class="sampletree"></div> -->
 </div>
{% endblock %}

{% block jsInit %}
{{ block.super }}
   var setVisibilityURL = "{{ setVisibilityURL }}";
   var moveNodeURL = "{{ moveNodeURL }}";
   var layerFeedUrl =  "{{ JSONMapTreeURL }}"; // "{{ settings.XGDS_PLANNER2_LAYER_FEED_URL }}";
   var layertreeNode = $("#layertree");
   var theTree;
   $.ajax({url: layerFeedUrl,
           dataType: 'json',
           success: $.proxy(function(data) {
           		initializeTree(data);
         	})
         });
         
   var initializeTree = function(data) {
    layertreeNode.fancytree({
       source: data,
       checkbox: true,
       extensions: ["dnd"],
       autoActivate: false,
       autoScroll: false,
       dblclick: function(event, data) {
         	window.location.href=data.node.data.href;
       },
       select: function(event, data) {
	       // toggle default visibility
	       var params = { 'nodeUuid': data.node.key, 'visible': data.node.isSelected()};
        	$.ajax({url: setVisibilityURL,
  					type: 'POST',
  					dataType: 'json',
  					data: params,
				}).success(function() {
				}).error(function() {
					data.node.setSelected(!data.node.isSelected());
					alert("Problem changing visibility for " + data.node.label);
				});
        },
        dnd: {
	        autoExpandMS: 400,
	        focusOnClick: true,
	        preventVoidMoves: true, // Prevent dropping nodes 'before self', etc.
	        preventRecursiveMoves: true, // Prevent dropping nodes on own descendants
	        dragStart: function(node, data) {
	          return true;
	        },
	        dragEnter: function(node, data) {
	        	// we only support dropping onto a folder, we don't do reordering
		        if (!_.isUndefined(data.node.folder) && (data.node.folder == true)) {
	    	    	return 'over';
	        	}
	        	return false;
	        },
	        dragDrop: function(node, data) {
	        	var params = { 'nodeUuid': data.otherNode.key, 'parentUuid': data.node.key};
	        	$.ajax({url: moveNodeURL,
	  					type: 'POST',
	  					dataType: 'json',
	  					data: params,
					}).success(function() {
						data.otherNode.moveTo(node, data.hitMode);
					}).error(function() {
						alert("Problem moving node, try again.");
					});
	        	}
	      	},
   		}); 
   	 theTree = layertreeNode.fancytree("getTree");
   };
   
   var refreshTree = function() {
        if (!_.isUndefined(theTree)){
            theTree.reload({
                url: layerFeedUrl
            });
        }
    }
    

{% endblock %}
