{% extends "MapBase.html" %}
{% load static %}

{% block scripts %}
{{ block.super }}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}js-cookie/src/js.cookie.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js'></script>
    <script type="text/javascript" src='{{EXTERNAL_URL}}jquery-ui-contextmenu/jquery.ui-contextmenu.min.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}jquery.fancytree/dist/jquery.fancytree-all.min.js'></script>
    <script type="text/javascript" src="{% static 'xgds_map_server/js/tree/fancyTreeSlider.js' %}"></script>
{% endblock %}

{% block contents %}
<div class="btn-toolbar" role="toolbar" >
  <div class="btn-group mr-2" role="group" >
	<a href="{% url 'folderAdd' %}" class="btn btn-primary"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Folder</a>
	<a href="{% url 'addKml' %}" class="btn btn-primary"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Kml</a>
	<a href="{% url 'mapAddLayer' %}" class="btn btn-primary "><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Map Layer</a>
	<a href="{% url 'mapAddTile' %}" class="btn btn-primary"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Tile</a>
	<a href="{% url 'mapAddDataTile' %}" class="btn btn-primary"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Data Tile</a>
<!-- <a href="{% url 'mapAddMapCollection' %}" class="btn btn-primary"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Collection</a> -->
  </div>
  <div class="btn-group" role="group" >
	<a href="{% url 'deletedNodes' %}" class="btn btn-primary ">Undelete</a>
  </div>
 </div>
<style scoped>
  @import url('{{EXTERNAL_URL}}jquery-ui/themes/base/jquery-ui.css');
  @import url('{{ EXTERNAL_URL }}jquery.fancytree/dist/skin-lion/ui.fancytree.min.css');
  @import url("{% static 'xgds_map_server/css/fancytree_custom.css' %}");
  ul.fancytree-container {
 	 height: 400px;
  	 width: 95%;
  }
</style>
<div id="layertreeContainer">
	<div class="alert alert-info my-2" role="alert">
	Drag and drop to reorganize tree.  Right-click to edit. <br/>
	Checked means the layer is turned on by default globally. It is not recursive.<br/>
	Transparency settings are global.
	</div>
	<div class="btn-toolbar mb-1" role="toolbar">
			<button id="refreshTreeLink"
				class="fa fa-refresh btn btn-primary btn-sm mr-2"
				onclick="javascript: app.vent.trigger('refreshTree');"></button>
		<div class="input-group">
			<input name="searchTree" placeholder="Filter..." autocomplete="off" class="form-control col-6"> 
			<span class="input-group-addon" id="btnResetSearch"><i class="fa fa-close"></i></span>
		</div>
	</div>
	<div class="mb-2" role="group">
		<button id="btnTransparencyEditors" class="btn btn-primary"
			onclick="toggleTransparencySliders();app.vent.trigger('toggleTransparency');">Transparency</button>
		<span id="matches"></span>
	</div>
	<div id="layertree" ></div> <!-- data-source="ajax" class="sampletree"></div> -->
 </div>
{% endblock %}

{% block jsInit %}
{{ block.super }}
   persistTransparency = true;
   var setVisibilityURL = "{{ setVisibilityURL }}";
   var moveNodeURL = "{{ moveNodeURL }}";
   var layerFeedUrl =  "{{ JSONMapTreeURL }}"; // "{{ settings.XGDS_PLANNER2_LAYER_FEED_URL }}";
   var layertreeNode = $("#layertree");
   var theTree;
   $.ajax({url: layerFeedUrl,
           dataType: 'json',
           success: $.proxy(function(data) {
           		initializeTree(data);
           		connectFilter();
         	})
         });
   var connectFilter = function() {
    	$("button#btn btn-primaryResetSearch").click(function(e){
    	      $("input[name=searchTree]").val("");
    	      $("span#matches").text("");
    	      theTree.clearFilter();
    	    }).attr("disabled", true);
    	
    	$("input[name=searchTree]").keyup(function(e){
    	      var n,
    	        opts = {
    	          autoExpand: true,
    	          leavesOnly: false
    	        },
    	        match = $(this).val();

    	      if(e && e.which === $.ui.keyCode.ESCAPE || $.trim(match) === ""){
    	        $("button#btn btn-primaryResetSearch").click();
    	        return;
    	      }
//    	      if($("#regex").is(":checked")) {
//    	        // Pass function to perform match
//    	        n = theTree.filterNodes(function(node) {
//    	          return new RegExp(match, "i").test(node.title);
//    	        }, opts);
//    	      } else {
    	        // Pass a string to perform case insensitive matching
    	        n = theTree.filterNodes(match, opts);
//    	      }
    	      $("button#btn btn-primaryResetSearch").attr("disabled", false);
    	      $("span#matches").text("(" + n + " matches)");
    	    }).focus();
    };
   var initializeTree = function(data) {
   
    	layertreeNode.contextmenu({
    	      delegate: "span.fancytree-title",
    	      menu: [
    	          {title: "Edit", cmd: "edit", uiIcon: "ui-icon-pencil", disabled: false },
    	          ],
    	      beforeOpen: function(event, ui) {
    	        var node = $.ui.fancytree.getNode(ui.target);
    	        node.setActive();
    	      },
    	      select: function(event, ui) {
    	        var node = $.ui.fancytree.getNode(ui.target);
    	        window.open(node.data.href, '_edit');
    	      }
    	    });
    	    
    layertreeNode.fancytree({
       source: data,
       checkbox: true,
       extensions: ['dnd','persist','filter', 'transparency_slider'],
       autoActivate: false,
       autoScroll: false,
       filter: {
                    autoApply: true,  // Re-apply last filter if lazy data is loaded
                    counter: true,  // Show a badge with number of matching child nodes near parent icons
                    fuzzy: false,  // Match single characters in order, e.g. 'fb' will match 'FooBar'
                    hideExpandedCounter: true,  // Hide counter badge, when parent is expanded
                    highlight: true,  // Highlight matches by wrapping inside <mark> tags
                    mode: "hide",  // Hide unmatched nodes (pass "dimm" to gray out unmatched nodes)
                    autoExpand: true
                  },
       select: function(event, data) {
	       // toggle default visibility
	       var params = { 'nodeUuid': data.node.key, 'visible': data.node.isSelected()};
        	$.ajax({url: setVisibilityURL,
  					type: 'POST',
  					dataType: 'json',
  					data: params,
  					success: function() {
  					},
  					error: function() {
						data.node.setSelected(!data.node.isSelected());
						alert("Problem changing visibility for " + data.node.label);
  					}
				});
        },
        dnd: {
	        autoExpandMS: 400,
	        focusOnClick: true,
	        preventVoidMoves: true, // Prevent dropping nodes 'before self', etc.
	        preventRecursiveMoves: true, // Prevent dropping nodes on own descendants
	        dragStart: function(node, data) {
	          return true;
	        },
	        dragEnter: function(node, data) {
	        	// we only support dropping onto a folder, we don't do reordering
		        if (!_.isUndefined(data.node.folder) && (data.node.folder == true)) {
	    	    	return 'over';
	        	}
	        	return false;
	        },
	        dragDrop: function(node, data) {
	        	var params = { 'nodeUuid': data.otherNode.key, 'parentUuid': data.node.key};
	        	$.ajax({url: moveNodeURL,
	  					type: 'POST',
	  					dataType: 'json',
	  					data: params,
	  					success: function() {
							data.otherNode.moveTo(node, data.hitMode);
						},
						error: function() {
							alert("Problem moving node, try again.");
						}
					});
	        	}
	      	},
   		}); 
   	 theTree = layertreeNode.fancytree("getTree");
   	 app = {tree:theTree};
   };
   
   var refreshTree = function() {
        if (!_.isUndefined(theTree)){
            theTree.reload({
                url: layerFeedUrl
            });
        }
    }
    

{% endblock %}

{% block footer %}
{% endblock footer %}