{% extends "MapServerSiteStyle.html" %}

{% block scripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}external/js/jstree/jquery.jstree.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}xgds_map_server/js/MapTree.js" type="text/javascript"></script>
{% endblock %}

{% block contents %}
<input type="button" value="Add Map" onClick="document.location.href='{{ addMapUrl }}'"><input type="button" value="Add Folder" onClick="document.location.href='{{ addFolderUrl }}'">
<div id="treeDiv">
  <!-- placeholder element for jstree -->
</div>
{% endblock %}

{% block jsInit %}
{{ block.super }}
jsTreeMapTreeURL = "{{ JSONMapTreeURL }}";
{% endblock %}
