{% extends "MapBase.html" %}
{% load pipeline %}

{% block contents %}
<div id="application">
	<div id="toolbar" class="row">
    </div>
	<div class="row">
        <div id="map" class="six columns"></div>
        <div id="layers" class="six columns"></div>
    </div>
    <div class="row">
		<div id="postmap"></div>
	</div>
</div>
{% endblock %}

{% block cssExtras %}
<style scoped>
  @import url('{{EXTERNAL_URL}}jquery-ui/themes/base/jquery-ui.css');
  @import url('{{ EXTERNAL_URL }}ol3/css/ol.css');
  @import url('{{EXTERNAL_URL}}ol3-popup/src/ol3-popup.css');
  @import url('{{ EXTERNAL_URL }}fancytree/dist/skin-lion/ui.fancytree.min.css');
  @import url('{{ STATIC_URL }}xgds_map_server/css/fancytree_custom.css');
  #map {
  	 margin-top: 25px;
 	 height: 400px;
  }
</style>
{% endblock cssExtras %}

{% block scripts %}
{{ block.super }}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}jquery-ui/jquery-ui.min.js'></script>
	<script type="text/javascript" src='{{ EXTERNAL_URL }}jquery-cookie/jquery.cookie.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}fancytree/dist/jquery.fancytree.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}fancytree/dist/src/jquery.fancytree.persist.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}lodash/lodash.min.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}handlebars/handlebars.min.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}backbone/backbone.js'></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}marionette/lib/backbone.marionette.min.js'></script>
    <script type="text/javascript" src='{{STATIC_URL}}xgds_map_server/js/simpleMapApp.js'></script>
    <script type="text/javascript" src='{{STATIC_URL}}xgds_map_server/js/fancyTreeView.js'></script>
    <script type="text/javascript" src='{{STATIC_URL}}proj4/dist/proj4.js'></script>
    <script type="text/javascript" src="{{EXTERNAL_URL}}ol3/build/ol-debug.js" ></script>
    <script type="text/javascript" src='{{ EXTERNAL_URL }}ol3-popup/src/ol3-popup.js'></script>
   	<script type="text/javascript" src='{{STATIC_URL}}xgds_map_server/js/olMapViews.js'></script>
   	{% for template_name, template in templates.items %}
	<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
	</script>
    {% endfor %}
    {% javascript 'custom_map' %}
{% endblock scripts %}

{% block jsInit %}
	appOptions = {
		layerFeedUrl: "{{ settings.XGDS_MAP_SERVER_LAYER_FEED_URL }}",
		siteFrame: {{ settings.XGDS_CURRENT_SITEFRAME|safe }},
		XGDS_MAP_SERVER_MAP_LOADED_CALLBACK: {{ settings.XGDS_MAP_SERVER_MAP_LOADED_CALLBACK }},
		dataUrl: "{{ settings.DATA_URL }}"
	}
	$(function(){
    	app.start(appOptions);
	});
{% endblock jsInit %}
