{% extends "MapBase.html" %}
{% load pipeline %}

{% block contents %}
<div id="application">
	<div id="toolbar" class="row">
    </div>
	<div class="row">
        <div id="map" class="six columns"></div>
        <div id="layers" class="six columns"></div>
    </div>
    <div class="row">
		<div id="postmap"></div>
	</div>
</div>
{% endblock %}

{% block cssExtras %}
<style scoped>
  @import url('{{EXTERNAL_URL}}jquery-ui/themes/base/jquery-ui.css');
  @import url('{{ EXTERNAL_URL }}openlayers3/ol.css');
  @import url('{{EXTERNAL_URL}}ol3-popup/src/ol3-popup.css');
  @import url('{{ EXTERNAL_URL }}fancytree/dist/skin-lion/ui.fancytree.min.css');
  @import url('{{ STATIC_URL }}xgds_map_server/css/fancytree_custom.css');
  #map {
  	 margin-top: 25px;
 	 height: 400px;
  }
</style>
{% endblock cssExtras %}

{% block scripts %}
{{ block.super }}
   	{% include "MapJS.html" %}
   	{% for template_name, template in templates.items %}
	<script type="text/handlebars" id="template-{{template_name}}">
		{{template|safe}}
	</script>
    {% endfor %}
    {% javascript 'custom_map' %}
{% endblock scripts %}

{% block jsInit %}
	var appOptions = {
		BODY_RADIUS_METERS: {{ settings.XGDS_MAP_SERVER_BODY_RADIUS_METERS }},
		DEFAULT_COORD_SYSTEM: "{{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM }}",
		SETUP_COORD_SYSTEM: {{ settings.XGDS_MAP_SERVER_MAP_SETUP_COORD_SYSTEM }},
		DEFAULT_COORD_SYSTEM_CENTER: {{ settings.XGDS_MAP_SERVER_DEFAULT_COORD_SYSTEM_CENTER }},
		DEFAULT_ZOOM: {{ settings.XGDS_MAP_SERVER_DEFAULT_ZOOM }},
		selectedLayerUrl: "{{ settings.XGDS_MAP_SERVER_SELECTED_LAYER_URL }}",
		layerFeedUrl: "{{ settings.XGDS_MAP_SERVER_LAYER_FEED_URL }}",
		siteFrame: {{ settings.XGDS_CURRENT_SITEFRAME|safe }},
		XGDS_MAP_SERVER_MAP_LOADED_CALLBACK: {{ settings.XGDS_MAP_SERVER_MAP_LOADED_CALLBACK }},
		dataUrl: "{{ settings.DATA_URL }}"
	}
	$(function(){
    	app.start(appOptions);
	});
{% endblock jsInit %}
