    <div id="map-buttons" data-toggle="buttons-radio" >
        <div class="btn-group" role="group" data-toggle="buttons">
        	<label class="btn btn-primary active" name="addType" id="btn-polygon" data="Polygon">
        		<input type="radio"  autocomplete="off" checked/>Polygon
        	</label>
        	<label class="btn btn-primary" name="addType" id="btn-point" data="Point">
        		<input type="radio"  autocomplete="off"/>Point
        	</label>
        	<label class="btn btn-primary" name="addType" id="btn-line" data="LineString">
        		<input type="radio" autocomplete="off"/>Line
        	</label>
        </div>
    </div>
