<div class="row">
    <div class="col-md-12" id="color-button" >
        <div class="btn-group" role="group">
            <div class="btn-group" role="group" data-toggle="buttons">
                <label class="btn btn-primary active" name="editType" id="btn-editPoints" data="Vertices">
                    <input type="radio"  autocomplete="off" checked/>Edit Vertices
                </label>
                <label class="btn btn-primary" name="editType" id="btn-editFeatures" data="Features">
                    <input type="radio"  autocomplete="off"/>Edit Features
                </label>
            </div>
        </div>
    </div>
</div>
