   <div class="pill">
       <input type="radio"  id="btn-polygon" name="addType" class="pill-left radio checked" value="Polygon" checked="checked">Polygon</input>
       <input type="radio"  id="btn-point" name="addType" class="pill radio" value="Point">Point</input>
       <input type="radio"  id="btn-line" name="addType" class="pill-right radio" value="LineString">Line</input>
    </div>
