<strong>Features</strong>
<div class="row">
    <div class="btn-group" role="group" data-toggle="buttons">
        <button id="btn-delete" class="btn-primary btn btn-sm mb-1 mt-1">Delete</button>
        <button id="btn-copy" class="btn-primary btn btn-sm mb-1 mt-1">Copy</button>
        <button id="btn-paste" class="btn-primary btn btn-sm mb-1 mt-1">Paste</button>
    </div>
</div>