<div class="row">
   <div class="btn-group" role="group">
<!--        
		<button  id="btn-duplicate" class="btn btn-primary btn-sm">Duplicate</button>
        <button  id="btn-delete" class="btn btn-primary btn-sm">Delete</button>
 -->
        <button  id="btn-delete" class="btn btn-primary btn-sm">Delete</button>
 	</div>
</div>