<div class="row">
  <div id="colhead1" class="col-4"></div>
  <div id="colhead2" class="col-8"></div>
  <!--<div id="colhead3" class="col-5"></div>-->
</div>
<div class="row">
    <div id="feature-actions">
        <div class="btn-group" role="group" data-toggle="buttons">
            <button id="btn-delete" class="btn-primary btn btn-sm mb-1 mt-1">Delete</button>
            <button id="btn-copy" class="btn-primary btn btn-sm mb-1 mt-1">Copy</button>
            <button id="btn-paste" class="btn-primary btn btn-sm mb-1 mt-1">Paste</button>
            <button id="btn-newLayer" class="btn-primary btn btn-sm mb-1 mt-1">New Layer From Selected</button><br />
            <span id="copy-warning" class="copy-warning-info">No features selected.<br></span>
            <span id="copy-error" class="copy-error-info">Error copying features.<br></span>
            <span id="copy-success" class="copy-success-info">Features copied.<br></span>
            <span id="paste-warning" class="paste-warning-info">Unable to paste.<br></span>
            <span id="paste-exists" class="paste-exists-info">One or more pasted features already exist.<br></span>
            <span id="paste-success" class="paste-success-info">Features added.<br></span>
        </div>
    </div>
</div>
<div class="row">
  <div id="col1" class="col-4 scrolling_column"></div>
  <div id="col2" class="col-8 scrolling_column"></div>
  <!--<div id="col3" class="col-5 scrolling_column"></div>-->
</div>
