<div class="property-header-text">
    <strong>{{type}} Properties</strong>
</div>
<div class="property-header-btn">
    <button class="btn btn-primary btn-sm" id="btn-toggle-coordinates">Coordinates</button>
</div>