<strong>Features</strong>
<div class="row">
    <div class="btn-group" role="group" data-toggle="buttons">
        <button id="btn-delete" class="btn-primary btn btn-sm mb-1 mt-1">Delete</button>
        <button id="btn-copy" class="btn-primary btn btn-sm mb-1 mt-1">Copy</button>
        <button id="btn-paste" class="btn-primary btn btn-sm mb-1 mt-1">Paste</button><br>
        <span id="copy-warning" class="copy-warning-info">No features selected.</span>
        <span id="copy-error" class="copy-error-info">Error copying features.</span>
        <span id="copy-success" class="copy-success-info">Features copied.</span>
        <span id="paste-warning" class="paste-warning-info">Unable to paste.</span>
        <span id="paste-exists" class="paste-exists-info">Feature(s) already exists.</span>
        <span id="paste-success" class="paste-success-info">Features added.</span>
    </div>
</div>