<div class="property-header-text">
    <strong> {{type}} Coordinates </strong><br />
    Lon, Lat in WGS84 geographic coordinates.
</div>
<div class="property-header-btn">
    <button class="btn btn-primary btn-sm" id="btn-toggle-properties">Properties</button>
</div>

