<form class="bbf-form" id="feature-polygon-properties-form">
<div class="feature-properties" id="feature-polygon-properties">
	<table class="table" style="width:100%">
	  <tr>
	    <th><label>Name</label></th>
	    <td><input id="featureName" type="text" value="{{name}}"/></td>
	  </tr>
  	  <tr>
	    <th><label>Description</label></th>
	    <td><textarea id="featureDescription">{{description}}</textarea></td>
	  </tr>
	  <tr>
	    <th><label> Show Name </label></th>
	    <td> <input type="checkbox" id="showLabel"  {{#if showLabel}}checked="checked"{{/if}} >  </td>
	  </tr>
      <tr>
        <th><label>Color</label></th>
        <td><input type='text' id="edit-color-picker" /></td>
      </tr>
	  <!--
      <tr>
        <th><label> Show Popup </label></th>
        <td> <input type="checkbox" id="popup" {{#if popup}}checked="checked"{{/if}}> </td>
      </tr>
      -->
	</table>
</div>
</form>

<ul class="sequence-list">
	<!-- until we have style editing there is no reason to have these -->
	<!--<li class="feature-style head-sequence-item">Style<i/></li> -->
	<!-- <li class="feature-coordinates foot-sequence-item">Coordinates<i/></li> --> 
</ul>