<div class="layer-link" id="links-layer">
  <div class="tool-entry">
      <a href="/xgds_map_server/maplayer/kml/{{layerUuid}}.kml" target="_new">Download KML</a><br/>
      <a href="/xgds_map_server/mapLayerJSON/{{layerUuid}}" target="_new">Download JSON</a><br/>
  </div><br/>
    <button id="btn-delete" type="button" class="btn btn-primary">Delete Layer</button>
</div>
