    <div class="row justify-content-between">
	    <div id="map-buttons" data-toggle="buttons-radio" class="col-6">
	        <div class="btn-group" role="group" data-toggle="buttons">
	            <label class="btn btn-primary active" id="btn-navigate">
	        		<input type="radio"  autocomplete="off" checked/>Navigate
	        	</label>
	        	<label class="btn btn-primary" id="btn-reposition">
	        		<input type="radio"  autocomplete="off"/>Edit Features
	        	</label>
	        	<label class="btn btn-primary" id="btn-addFeatures">
	        		<input type="radio" autocomplete="off"/>Add Features
	        	</label>
	        </div>
	    </div>
	    
	    <div class="btn-group col-5 pull-right" role="group">
            <div class="pull-right">
                <button id="btn-delete" class="btn btn-primary">Delete</button>
                <button id="btn-save" class="btn btn-primary">Save</button>
                <button id="btn-newLayer" class="btn btn-primary">New Layer From Selected</button><br>
                <span id="layer-saved" class="layer-saved">Map layer saved.</span>
            </div>
	    </div>
	    
	    <div >
	    <button id="gridstack_toggleAll" class='btn btn-primary fa fa-lock my-1' role='button' style="color:white; max-height:1.8rem;" onclick="xgds_gridstack.handleToggleAllClick();"></button>
	    </div>
	    
    </div> <!-- end row -->
	    
    <div class="row">
		<div class="col-9">
	    	<p class="text-info" id="tip-status">
	    	</p>
	    </div>
	    <div class="col-3">
		        <span class="notify" id="save-status"></span>
		</div>
	</div>
    

