    <div id="map-buttons" data-toggle="buttons-radio" class="three columns">
        <div class="pill">
            <button class="pill-left radio checked" id="btn-navigate">Navigate</button>
            <button class="radio" id="btn-reposition" style="width:120px;">Edit Features</button>
            <button class="radio pill-right" style="width:120px;" id="btn-addFeatures">Add Features</button>
        </div>
    </div>
    
    <div id="tab-buttons" class="nine columns">
    	<div class="row">
			<div class="pill nine columns" >
			<span style="float: left" class="small" id="tip-status"></span><br/>
			<span class="notify" id="save-status"></span>
	        </div>
	        <div class="pill three columns" >
	            <button  id="btn-delete" class="pill-left">Delete</button>
	            <button  id="btn-save" class="pill-right">Save</button>
	            <a href='#' onclick='help.openPopup("/core/help/xgds_map_server/help/editMapLayer.rst/Edit%20Map%20Layer")' class='help_button'>
	            <i class='fa fa-question-circle-o fa-2' aria-hidden='true'></i>
	            </a>
	        </div> 
	     </div>
    </div>

