    <div id="map-buttons" data-toggle="buttons-radio" class="four columns">
        <div class="pill">
            <button class="small pill-left radio checked"  style="width:90px;" id="btn-navigate">Navigate</button>
            <button class="small radio" id="btn-reposition" style="width:110px;">Edit Features</button>
            <button class="small radio pill-right" style="width:110px;" id="btn-addFeatures">Add Features</button>
        </div>
    </div>
    
    <div id="tab-buttons" class="eight columns">
    	<div class="row">
			<div class="pill nine columns" >
			<span style="float: left" class="small" id="tip-status"></span><br/>
			<span class="notify" id="save-status">&nbsp;</span>
	        </div>
	        <div class="pill three columns" >
	            <button  id="btn-delete" class="small pill-left">Delete</button>
	            <button  id="btn-save" class="small pill-right">Save</button>
	            <a href='#' onclick='help.openPopup("/core/help/xgds_map_server/help/editMapLayer.rst/Edit%20Map%20Layer")' class='help_button'>
	            <i class='fa fa-question-circle-o fa-lg' aria-hidden='true'></i>
	            </a>
	        </div> 
	     </div>
    </div>

