.compass-control {
	top: .5em;
  	right: .5em;
  	min-height: 30px;
/*   	background-image: url(/static/xgds_map_server/icons/northing.png);
  	background-repeat: no-repeat;
  	background-position: center;
 */}