.coords-error-msg {
	color: red;
}

.maplegend {
	top: 65px;
}

i.pinDiv {
	float: right;
}

#postmap {
	min-height: 20px;
}

#postpostmap {
	min-height: 20px;
}

.custom-mouse-position {
	font-size: 0.8em;
}