.ol-tooltip {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	padding: 4px 8px;
	opacity: 0.7;
	white-space: nowrap;
}

.ol-tooltip-measure {
	opacity: 1;
	font-weight: bold;
}

.ol-panelControl {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 3px;
    position: absolute;
    top: 5px;
    right:5px;
}

.ol-measurementSelect {
    height: 30px !important;
}

#unsaved-notification{
	color: red;
	font-size: 9pt;
	visibility: hidden;
}

.property-header-text{
	float: left;
}

.property-header-btn{
	float: right;
	text-align: right;
}

.feature-action-btn{
	margin-bottom: 0px !important;
}

#saved-notification{
	position: fixed;
    bottom: 20px;
    right: 20px;
	display: none;
	background-color: #e8e8dc;
	border-radius: 5px;
	padding: 18px;
	color: rgba(0, 68, 137, 0.7);
	width: 250px;
	height: auto;
	box-shadow: 0 0 15px 0 #d3d3d3;
}

.saved-msg{
	display: block;
	font-size: 12pt;
	/*font-variant: small-caps;*/
}

#id_description, #id_name, #id_region, #id_region, #id_transparency, #id_parent{
	width: 100%;
}

.scrolling_column .sp-preview div {
    margin-bottom: 0px !important;
}

.sp-dd {
    padding: 0px 0 !important;
    height: 10px !important;
    line-height: 10px !important;
    float:left !important;
    font-size:10px !important;
}
.sp-preview {
    position:relative !important;
    width:45px !important;
    height: 10px !important;
    border: solid 1px #222 !important;
    margin-right: 5px !important;
    float:left !important;
    z-index: 0 !important;
}

.sp-replacer{
	border-radius: 3px !important;
}

.colorpicker .sp-replacer{
	margin-top: 3px !important;
}

.hidden-input{
	display: none;
}

.copy-warning-info, .paste-warning-info, .copy-error-info, .paste-exists-info{
	color: #ff5238;
	display: none;
}

.copy-success-info, .paste-success-info{
	display: none;
}

form > p > label {
    justify-content: flex-start !important;
}

#btn-new-layer-selected{
	margin-left: 15px;
	margin-top: 20px;
}

#id_visible, #id_locked{
	margin-top: 3px;
}

.newLayerInput{
	margin-bottom: 15px !important;
}

.icon-select{
	height: 21px;
	margin-right: 5px;
	margin-top:2px;
	display: none;
}

.colorpicker{
	margin-top: 3px;
}

.coords-error-msg {
	color: red;
}

.layer-saved{
	display: none;
}

.maplegend {
	top: 65px;
}

i.pinDiv {
	float: right;
}

#postmap {
	padding-top: 2px;
}

#postpostmap {
}

.custom-mouse-position {
	font-size: 0.8em;
	line-height: 0.9em;
	float: left;
}

.custom-mouse-ruler {
	font-size: 0.8em;
	line-height: 0.9em;
	float: right;
}

.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}

.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}

.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}

.ol-popup-closer:after {
	content: "✖";
}

#layers-gridstack-item-content {
	overflow-x:scroll;
}